# 查看目录下数据

## 列出../data目录

In [7]:
!ls ../data/

underexpose_test      underexpose_train      解压.ipynb
underexpose_test.zip  underexpose_train.zip

## 列出../data/underexpose_train/目录下数据

In [8]:
!ls ../data/underexpose_train/

underexpose_item_feat.csv      underexpose_train_click-4.csv
underexpose_train_click-0.csv  underexpose_train_click-4.zip
underexpose_train_click-1.csv  underexpose_train_click-5.zip
underexpose_train_click-1.zip  underexpose_train_click-6.zip
underexpose_train_click-2.csv  underexpose_train_click-7.zip
underexpose_train_click-2.zip  underexpose_train_click-8.zip
underexpose_train_click-3.csv  underexpose_train_click-9.zip
underexpose_train_click-3.zip  underexpose_user_feat.csv

## 列出../data/underexpose_test/目录下目录

In [9]:
!ls ../data/underexpose_test/

underexpose_test_click-0      underexpose_test_click-4
underexpose_test_click-1      underexpose_test_click-4.zip
underexpose_test_click-1.zip  underexpose_test_click-5.zip
underexpose_test_click-2      underexpose_test_click-6.zip
underexpose_test_click-2.zip  underexpose_test_click-7.zip
underexpose_test_click-3      underexpose_test_click-8.zip
underexpose_test_click-3.zip  underexpose_test_click-9.zip

## 列出../data/underexpose_test/underexpose_test_click-0/目录下数据

In [10]:
!ls ../data/underexpose_test/underexpose_test_click-0/

underexpose_test_click-0.csv  underexpose_test_qtime-0.csv

## 查看../data/underexpose_train/underexpose_user_feat.csv数据

In [11]:
!head ../data/underexpose_train/underexpose_user_feat.csv

17,8,M,4
26,7,M,2
35,6,F,4
40,6,M,1
49,6,M,1
51,7,F,2
58,6,M,2
87,7,M,1
97,6,F,2
98,7,F,2

## 查看../data/underexpose_train/underexpose_item_feat.csv数据

In [12]:
!head -1 ../data/underexpose_train/underexpose_item_feat.csv

42844,[4.514945030212402, -2.3837196826934814, 0.5004140138626099, 0.40706828236579895, -1.995228886604309, 0.10907801240682602, -0.6917753219604492, 2.2274599075317383, -6.437974452972412, -0.8248971700668335, -0.13872423768043518, -0.3793291747570038, 0.6276600956916809, 0.41837671399116516, 4.441218376159668, 0.29981935024261475, 0.5785568356513977, -4.699289321899414, -0.39474016427993774, -2.3916513919830322, 0.37053167819976807, -1.3554661273956299, -1.0741775035858154, -2.3216402530670166, -0.33245617151260376, 0.12388594448566437, -2.4391555786132812, -0.3455986976623535, -3.304347038269043, 1.4852843284606934, 0.9098017811775208, -1.643001914024353, 5.037034034729004, 2.7801148891448975, 4.776496410369873, 2.255274772644043, 3.769707441329956, -3.6616835594177246, -0.6494054794311523, 4.199635982513428, -0.6348056197166443, 2.430340051651001, -2.874018669128418, -0.7861775159835815, -0.504916250705719, -6.00778865814209, 1.4984948635101318, 1.530612826347351, 2.3796546459198, -0.023146437481045723, -0.7036052942276001, 2.1469361782073975, 3.9448320865631104, -3.0985984802246094, 2.513453483581543, -5.395860195159912, 0.7621323466300964, 2.8018035888671875, 0.8779643177986145, -0.5859798192977905, 1.9625556468963623, -5.171217441558838, 1.181687355041504, 0.5419528484344482, 0.4858333170413971, 4.212568283081055, 3.458198308944702, 1.4029390811920166, -0.5462926030158997, 2.182100534439087, -0.09625467658042908, 1.7366081476211548, 0.6851462721824646, -1.6132848262786865, -0.9128761887550354, -0.5323970317840576, 1.7248421907424927, 2.2641146183013916, -2.259755849838257, 4.506508827209473, -0.34608832001686096, 0.9281976819038391, -2.078261137008667, -0.19557562470436096, 4.847578048706055, -2.958686351776123, 1.0060796737670898, 2.0822322368621826, -2.2596824169158936, -2.0333144664764404, 0.2182324230670929, 3.9753122329711914, 2.0034470558166504, -0.24062836170196533, -2.468548059463501, 1.6660641431808472, -2.081960678100586, -2.4968724250793457, -1.9016369581222534, 0.2714739739894867, -2.298168420791626, -1.7873090505599976, 1.6180669069290161, -2.997577428817749, 0.04206437990069389, -1.2196398973464966, -2.3956730365753174, 5.60908317565918, -1.491484522819519, 1.7885915040969849, 4.177252292633057, 4.460817337036133, -1.2361496686935425, -2.0794692039489746, -4.397149562835693, 0.3652189075946808, 0.8151836395263672, 5.475111484527588, 4.239776611328125, 0.9392179846763611, 1.1986280679702759, -1.4769824743270874, -1.5552177429199219, 0.3611471354961395, 2.0227699279785156, -1.5996438264846802, 3.223153829574585, -1.4574943780899048],[-2.8722801208496094, 1.4587551355361938, 2.579012632369995, -1.6097468137741089, 1.4378223419189453, 1.387495994567871, 0.7249992489814758, 0.02033231034874916, 0.3120986819267273, -1.9997732639312744, -1.805732250213623, -0.17392373085021973, -2.17514967918396, -0.4395467936992645, -1.8935351371765137, -0.7034621834754944, -1.9535105228424072, 0.6914859414100647, 0.6445956826210022, 2.0112810134887695, -0.4342123568058014, 2.614630937576294, 2.123403549194336, -2.8775033950805664, 1.0714125633239746, 0.4730164110660553, 2.4707813262939453, -1.6296484470367432, -2.594815492630005, 2.1294517517089844, -1.0729905366897583, 2.4951767921447754, -0.6153161525726318, -0.3726658523082733, 1.4416368007659912, -0.38695797324180603, 0.5742669105529785, 0.2901403605937958, 2.143984079360962, -2.1797549724578857, 1.0018137693405151, 1.7092645168304443, 1.7659958600997925, -0.9781475067138672, 2.37626576423645, 1.2863856554031372, -1.4987120628356934, -2.1206870079040527, -1.6261025667190552, -1.7383675575256348, -0.22327128052711487, 1.2644373178482056, -0.9871305823326111, -1.9093743562698364, 2.2314555644989014, -2.6836464405059814, -0.6353181004524231, 0.0858888104557991, -0.82350754737854, 0.5569828152656555, 2.5153543949127197, -3.420529842376709, 0.06346563994884491, 0.009474173188209534, -0.06575080752372742, -1.075365424156189, -2.971308946609497, 1.0196198225021362, 2.509558916091919, -1.5258373022079468, 0.5425801277160645, -0.2697300314903259, -0.035962194204330444, 0.39179956912994385, -1.2341160774230957, 2.3140294551849365, 1.898616909980774, -2.361128330230713, 0.3124046325683594, 3.4446072578430176, -0.8862501382827759, -1.3436369895935059, 0.9544589519500732, 0.6308349370956421, -2.394721746444702, 0.6834869980812073, 1.1490038633346558, -1.3511732816696167, 2.023900032043457, 1.599198341369629, 1.3828682899475098, 1.6056783199310303, 1.8806668519973755, -0.5081608891487122, 0.24284043908119202, -0.2608487904071808, 1.8759434223175049, 0.20613457262516022, 0.18697303533554077, 2.04744553565979, -0.5754722952842712, 3.0164101123809814, 2.757145643234253, 3.3537209033966064, -0.457271546125412, -0.12533661723136902, 2.332963466644287, 3.858966827392578, -2.0754899978637695, -0.7054958343505859, 0.20345205068588257, 1.7197328805923462, 2.9250385761260986, -0.38863879442214966, 1.2257323265075684, -1.773137092590332, 0.052655115723609924, 1.2799222469329834, -3.374727249145508, -1.5069689750671387, -1.8201801776885986, -3.024643659591675, 0.4452633857727051, 0.013933304697275162, -1.3002386093139648, 2.759948492050171, 2.056171178817749, 0.5087034702301025]

## 查看../data/underexpose_train/underexpose_train_click-0.csv数据

In [13]:
!head ../data/underexpose_train/underexpose_train_click-0.csv

4965,18,0.9837634760241426
20192,34,0.9837723702817137
30128,91,0.9837801863518689
29473,189,0.9839301484049713
10625,225,0.9839253997117711
2426,233,0.9839370194050568
4043,253,0.9839540262500946
19451,258,0.9838947108009123
7944,264,0.9838520608864155
14329,264,0.9839390470787577

## 查看../data/underexpose_test/underexpose_test_click-0/underexpose_test_click-0.csv数据

In [14]:
!head ../data/underexpose_test/underexpose_test_click-0/underexpose_test_click-0.csv

1133,221,0.9838116537783924
17864,253,0.9837829609968396
6941,309,0.9837845962582685
34089,358,0.9837808998860803
21659,536,0.9837933069274615
9185,570,0.9839333388050662
6270,694,0.9837913764104969
31823,934,0.9837780085268486
4004,1129,0.9839554306065532
19668,1204,0.9837406656413409

## 查看../data/underexpose_test/underexpose_test_click-0/underexpose_test_qtime-0.csv数据

In [15]:
!head ../data/underexpose_test/underexpose_test_click-0/underexpose_test_qtime-0.csv

11,0.9838685415709473
22,0.9839564400271883
44,0.9839238881043699
55,0.9839529196727235
66,0.9838954798532588
88,0.983900583105457
99,0.9839459546703412
132,0.9839541082655212
143,0.9839407416436488
154,0.9838833750071801

# 导入python包

In [16]:
import pandas as pd
import numpy as np
from tqdm import tqdm
import warnings
warnings.filterwarnings("ignore")

# 读取数据

## 候选集——用户候选集，商品候选集

In [17]:
pd.read_csv?

Signature: pd.read_csv(filepath_or_buffer:Union[str, pathlib.Path, IO[~AnyStr]], sep=',', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, cache_dates=True, iterator=False, chunksize=None, compression='infer', thousands=None, decimal:str='.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, dialect=None, error_bad_lines=True, warn_bad_lines=True, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None)
Docstring:
Read a comma-separated values (csv) file into DataFrame.

Also supports optionally iterating or breaking of the file
into chunks.

Additional help can be found in the online docs for
`IO Tools <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

Parameters
----------
filepath_or_buffer : str, path object or file-like object
    Any valid string path is acceptable. The string could be a URL. Valid
    URL schemes include http, ftp, s3, and file. For file URLs, a host is
    expected. A local file could be: file://localhost/path/to/table.csv.

    If you want to pass in a path object, pandas accepts any ``os.PathLike``.

    By file-like object, we refer to objects with a ``read()`` method, such as
    a file handler (e.g. via builtin ``open`` function) or ``StringIO``.
sep : str, default ','
    Delimiter to use. If sep is None, the C engine cannot automatically detect
    the separator, but the Python parsing engine can, meaning the latter will
    be used and automatically detect the separator by Python's builtin sniffer
    tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
    different from ``'\s+'`` will be interpreted as regular expressions and
    will also force the use of the Python parsing engine. Note that regex
    delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``.
delimiter : str, default ``None``
    Alias for sep.
header : int, list of int, default 'infer'
    Row number(s) to use as the column names, and the start of the
    data.  Default behavior is to infer the column names: if no names
    are passed the behavior is identical to ``header=0`` and column
    names are inferred from the first line of the file, if column
    names are passed explicitly then the behavior is identical to
    ``header=None``. Explicitly pass ``header=0`` to be able to
    replace existing names. The header can be a list of integers that
    specify row locations for a multi-index on the columns
    e.g. [0,1,3]. Intervening rows that are not specified will be
    skipped (e.g. 2 in this example is skipped). Note that this
    parameter ignores commented lines and empty lines if
    ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
    data rather than the first line of the file.
names : array-like, optional
    List of column names to use. If the file contains a header row,
    then you should explicitly pass ``header=0`` to override the column names.
    Duplicates in this list are not allowed.
index_col : int, str, sequence of int / str, or False, default ``None``
  Column(s) to use as the row labels of the ``DataFrame``, either given as
  string name or column index. If a sequence of int / str is given, a
  MultiIndex is used.

  Note: ``index_col=False`` can be used to force pandas to *not* use the first
  column as the index, e.g. when you have a malformed file with delimiters at
  the end of each line.
usecols : list-like or callable, optional
    Return a subset of the columns. If list-like, all elements must either
    be positional (i.e. integer indices into the document columns) or strings
    that correspond to column names provided either by the user in `names` or
    inferred from the document header row(s). For example, a valid list-like
    `usecols` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
    Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
    To instantiate a DataFrame from ``data`` with element order preserved use
    ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
    in ``['foo', 'bar']`` order or
    ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
    for ``['bar', 'foo']`` order.

    If callable, the callable function will be evaluated against the column
    names, returning names where the callable function evaluates to True. An
    example of a valid callable argument would be ``lambda x: x.upper() in
    ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
    parsing time and lower memory usage.
squeeze : bool, default False
    If the parsed data only contains one column then return a Series.
prefix : str, optional
    Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...
mangle_dupe_cols : bool, default True
    Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
    'X'...'X'. Passing in False will cause data to be overwritten if there
    are duplicate names in the columns.
dtype : Type name or dict of column -> type, optional
    Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32,
    'c': 'Int64'}
    Use `str` or `object` together with suitable `na_values` settings
    to preserve and not interpret dtype.
    If converters are specified, they will be applied INSTEAD
    of dtype conversion.
engine : {'c', 'python'}, optional
    Parser engine to use. The C engine is faster while the python engine is
    currently more feature-complete.
converters : dict, optional
    Dict of functions for converting values in certain columns. Keys can either
    be integers or column labels.
true_values : list, optional
    Values to consider as True.
false_values : list, optional
    Values to consider as False.
skipinitialspace : bool, default False
    Skip spaces after delimiter.
skiprows : list-like, int or callable, optional
    Line numbers to skip (0-indexed) or number of lines to skip (int)
    at the start of the file.

    If callable, the callable function will be evaluated against the row
    indices, returning True if the row should be skipped and False otherwise.
    An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
skipfooter : int, default 0
    Number of lines at bottom of file to skip (Unsupported with engine='c').
nrows : int, optional
    Number of rows of file to read. Useful for reading pieces of large files.
na_values : scalar, str, list-like, or dict, optional
    Additional strings to recognize as NA/NaN. If dict passed, specific
    per-column NA values.  By default the following values are interpreted as
    NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
    '1.#IND', '1.#QNAN', '<NA>', 'N/A', 'NA', 'NULL', 'NaN', 'n/a',
    'nan', 'null'.
keep_default_na : bool, default True
    Whether or not to include the default NaN values when parsing the data.
    Depending on whether `na_values` is passed in, the behavior is as follows:

    * If `keep_default_na` is True, and `na_values` are specified, `na_values`
      is appended to the default NaN values used for parsing.
    * If `keep_default_na` is True, and `na_values` are not specified, only
      the default NaN values are used for parsing.
    * If `keep_default_na` is False, and `na_values` are specified, only
      the NaN values specified `na_values` are used for parsing.
    * If `keep_default_na` is False, and `na_values` are not specified, no
      strings will be parsed as NaN.

    Note that if `na_filter` is passed in as False, the `keep_default_na` and
    `na_values` parameters will be ignored.
na_filter : bool, default True
    Detect missing value markers (empty strings and the value of na_values). In
    data without any NAs, passing na_filter=False can improve the performance
    of reading a large file.
verbose : bool, default False
    Indicate number of NA values placed in non-numeric columns.
skip_blank_lines : bool, default True
    If True, skip over blank lines rather than interpreting as NaN values.
parse_dates : bool or list of int or names or list of lists or dict, default False
    The behavior is as follows:

    * boolean. If True -> try parsing the index.
    * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
      each as a separate date column.
    * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
      a single date column.
    * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
      result 'foo'

    If a column or index cannot be represented as an array of datetimes,
    say because of an unparseable value or a mixture of timezones, the column
    or index will be returned unaltered as an object data type. For
    non-standard datetime parsing, use ``pd.to_datetime`` after
    ``pd.read_csv``. To parse an index or column with a mixture of timezones,
    specify ``date_parser`` to be a partially-applied
    :func:`pandas.to_datetime` with ``utc=True``. See
    :ref:`io.csv.mixed_timezones` for more.

    Note: A fast-path exists for iso8601-formatted dates.
infer_datetime_format : bool, default False
    If True and `parse_dates` is enabled, pandas will attempt to infer the
    format of the datetime strings in the columns, and if it can be inferred,
    switch to a faster method of parsing them. In some cases this can increase
    the parsing speed by 5-10x.
keep_date_col : bool, default False
    If True and `parse_dates` specifies combining multiple columns then
    keep the original columns.
date_parser : function, optional
    Function to use for converting a sequence of string columns to an array of
    datetime instances. The default uses ``dateutil.parser.parser`` to do the
    conversion. Pandas will try to call `date_parser` in three different ways,
    advancing to the next if an exception occurs: 1) Pass one or more arrays
    (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
    string values from the columns defined by `parse_dates` into a single array
    and pass that; and 3) call `date_parser` once for each row using one or
    more strings (corresponding to the columns defined by `parse_dates`) as
    arguments.
dayfirst : bool, default False
    DD/MM format dates, international and European format.
cache_dates : bool, default True
    If True, use a cache of unique, converted dates to apply the datetime
    conversion. May produce significant speed-up when parsing duplicate
    date strings, especially ones with timezone offsets.

    .. versionadded:: 0.25.0
iterator : bool, default False
    Return TextFileReader object for iteration or getting chunks with
    ``get_chunk()``.
chunksize : int, optional
    Return TextFileReader object for iteration.
    See the `IO Tools docs
    <https://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
    for more information on ``iterator`` and ``chunksize``.
compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
    For on-the-fly decompression of on-disk data. If 'infer' and
    `filepath_or_buffer` is path-like, then detect compression from the
    following extensions: '.gz', '.bz2', '.zip', or '.xz' (otherwise no
    decompression). If using 'zip', the ZIP file must contain only one data
    file to be read in. Set to None for no decompression.
thousands : str, optional
    Thousands separator.
decimal : str, default '.'
    Character to recognize as decimal point (e.g. use ',' for European data).
lineterminator : str (length 1), optional
    Character to break file into lines. Only valid with C parser.
quotechar : str (length 1), optional
    The character used to denote the start and end of a quoted item. Quoted
    items can include the delimiter and it will be ignored.
quoting : int or csv.QUOTE_* instance, default 0
    Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
    QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
doublequote : bool, default ``True``
   When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
   whether or not to interpret two consecutive quotechar elements INSIDE a
   field as a single ``quotechar`` element.
escapechar : str (length 1), optional
    One-character string used to escape other characters.
comment : str, optional
    Indicates remainder of line should not be parsed. If found at the beginning
    of a line, the line will be ignored altogether. This parameter must be a
    single character. Like empty lines (as long as ``skip_blank_lines=True``),
    fully commented lines are ignored by the parameter `header` but not by
    `skiprows`. For example, if ``comment='#'``, parsing
    ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
    treated as the header.
encoding : str, optional
    Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
    standard encodings
    <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .
dialect : str or csv.Dialect, optional
    If provided, this parameter will override values (default or not) for the
    following parameters: `delimiter`, `doublequote`, `escapechar`,
    `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
    override values, a ParserWarning will be issued. See csv.Dialect
    documentation for more details.
error_bad_lines : bool, default True
    Lines with too many fields (e.g. a csv line with too many commas) will by
    default cause an exception to be raised, and no DataFrame will be returned.
    If False, then these "bad lines" will dropped from the DataFrame that is
    returned.
warn_bad_lines : bool, default True
    If error_bad_lines is False, and warn_bad_lines is True, a warning for each
    "bad line" will be output.
delim_whitespace : bool, default False
    Specifies whether or not whitespace (e.g. ``' '`` or ``'    '``) will be
    used as the sep. Equivalent to setting ``sep='\s+'``. If this option
    is set to True, nothing should be passed in for the ``delimiter``
    parameter.
low_memory : bool, default True
    Internally process the file in chunks, resulting in lower memory use
    while parsing, but possibly mixed type inference.  To ensure no mixed
    types either set False, or specify the type with the `dtype` parameter.
    Note that the entire file is read into a single DataFrame regardless,
    use the `chunksize` or `iterator` parameter to return the data in chunks.
    (Only valid with C parser).
memory_map : bool, default False
    If a filepath is provided for `filepath_or_buffer`, map the file object
    directly onto memory and access the data directly from there. Using this
    option can improve performance because there is no longer any I/O overhead.
float_precision : str, optional
    Specifies which converter the C engine should use for floating-point
    values. The options are `None` for the ordinary converter,
    `high` for the high-precision converter, and `round_trip` for the
    round-trip converter.

Returns
-------
DataFrame or TextParser
    A comma-separated values (csv) file is returned as two-dimensional
    data structure with labeled axes.

See Also
--------
to_csv : Write DataFrame to a comma-separated values (csv) file.
read_csv : Read a comma-separated values (csv) file into DataFrame.
read_fwf : Read a table of fixed-width formatted lines into DataFrame.

Examples
--------
>>> pd.read_csv('data.csv')  # doctest: +SKIP
File:      /usr/local/anaconda3/lib/python3.6/site-packages/pandas/io/parsers.py
Type:      function

## 用户候选集

In [18]:
underexpose_user_feat = pd.read_csv("../data/underexpose_train/underexpose_user_feat.csv"
                                    ,names=["user_id", "user_age_level", "user_gender", "user_city_level"]
                                    ,nrows=None      
                                    ,sep=","
                                   )

In [19]:
underexpose_user_feat.head()

   user_id  user_age_level user_gender  user_city_level
0       17             8.0           M              4.0
1       26             7.0           M              2.0
2       35             6.0           F              4.0
3       40             6.0           M              1.0
4       49             6.0           M              1.0

## 候选用户user_id个数

In [20]:
underexpose_user_feat.user_id.count()

6789

## 查看用户user_age_level分布

In [21]:
underexpose_user_feat.user_age_level.value_counts?

Signature: underexpose_user_feat.user_age_level.value_counts(normalize=False, sort=True, ascending=False, bins=None, dropna=True)
Docstring:
Return a Series containing counts of unique values.

The resulting object will be in descending order so that the
first element is the most frequently-occurring element.
Excludes NA values by default.

Parameters
----------
normalize : bool, default False
    If True then the object returned will contain the relative
    frequencies of the unique values.
sort : bool, default True
    Sort by frequencies.
ascending : bool, default False
    Sort in ascending order.
bins : int, optional
    Rather than count values, group them into half-open bins,
    a convenience for ``pd.cut``, only works with numeric data.
dropna : bool, default True
    Don't include counts of NaN.

Returns
-------
Series

See Also
--------
Series.count: Number of non-NA elements in a Series.
DataFrame.count: Number of non-NA elements in a DataFrame.

Examples
--------
>>> index = pd.Index([3, 1, 2, 3, 4, np.nan])
>>> index.value_counts()
3.0    2
4.0    1
2.0    1
1.0    1
dtype: int64

With `normalize` set to `True`, returns the relative frequency by
dividing all values by the sum of values.

>>> s = pd.Series([3, 1, 2, 3, 4, np.nan])
>>> s.value_counts(normalize=True)
3.0    0.4
4.0    0.2
2.0    0.2
1.0    0.2
dtype: float64

**bins**

Bins can be useful for going from a continuous variable to a
categorical variable; instead of counting unique
apparitions of values, divide the index in the specified
number of half-open bins.

>>> s.value_counts(bins=3)
(2.0, 3.0]      2
(0.996, 2.0]    2
(3.0, 4.0]      1
dtype: int64

**dropna**

With `dropna` set to `False` we can also see NaN index values.

>>> s.value_counts(dropna=False)
3.0    2
NaN    1
4.0    1
2.0    1
1.0    1
dtype: int64
File:      /usr/local/anaconda3/lib/python3.6/site-packages/pandas/core/base.py
Type:      method

In [22]:
underexpose_user_feat.user_age_level.value_counts(dropna=False,ascending=False,sort=False)

8.0     294
7.0     890
6.0     817
5.0    1363
4.0    1425
NaN      83
2.0     869
3.0     816
1.0     232
Name: user_age_level, dtype: int64

## 查看用户user_gender分布

In [23]:
underexpose_user_feat.user_gender.value_counts(dropna=False,ascending=False,sort=False)

NaN      81
M      1497
F      5211
Name: user_gender, dtype: int64

## 查看用户user_city_level分布

In [24]:
underexpose_user_feat.user_city_level.value_counts(dropna=False,ascending=False,sort=False)

4.0     541
2.0    1515
1.0     760
6.0    1870
NaN      22
3.0    1242
5.0     839
Name: user_city_level, dtype: int64

## 商品候选集

In [25]:
list_item_id = []
list_txt_vec = []
list_img_vec = []
with open("../data/underexpose_train/underexpose_item_feat.csv") as f:
    for line in tqdm(f):
        line_split = line.strip().split(',[')
        list_item_id.append(line_split[0])
        list_txt_vec.append(line_split[1].strip(']'))
        list_img_vec.append(line_split[2].strip(']'))
underexpose_item_feat = pd.DataFrame({"item_id":list_item_id,"txt_vec":list_txt_vec,"img_vec":list_img_vec})
underexpose_item_feat = underexpose_item_feat[["item_id", "txt_vec", "img_vec"]]

108916it [00:01, 70102.51it/s]

In [26]:
underexpose_item_feat.head()

,item_id,txt_vec,img_vec
0,42844,"4.514945030212402, -2.3837196826934814, 0.5004...","-2.8722801208496094, 1.4587551355361938, 2.579..."
1,67898,"-2.0029051303863525, -0.9298805594444275, 0.79...","-0.07052088528871536, -1.4393335580825806, 0.7..."
2,66446,"4.221673011779785, -1.4971394538879395, 1.1335...","-5.18036413192749, -0.38824713230133057, -0.03..."
3,63651,"2.6579699516296387, -0.941863477230072, 1.1215...","-1.077273964881897, 2.8394529819488525, 1.1834..."
4,46824,"3.192194938659668, -1.9366759061813354, 1.1999...","-3.2601945400238037, 0.49889034032821655, 2.58..."

## 查看商品item_id个数

In [27]:
underexpose_item_feat.item_id.count()

108916

## 查看商品txt_vec向量维度

In [28]:
len(underexpose_item_feat.txt_vec.values[0].split(","))

128

In [29]:
np.sum([float(x_)**2 for x_ in underexpose_item_feat.txt_vec.values[0].split(",")])

808.8675917468368

In [30]:
np.sum([float(x_)**2 for x_ in underexpose_item_feat.txt_vec.values[1].split(",")])

405.9183285070672

## 查看商品img_vec向量维度

In [31]:
len(underexpose_item_feat.img_vec.values[0].split(","))

128

In [32]:
np.sum([float(x_)**2 for x_ in underexpose_item_feat.img_vec.values[0].split(",")])

372.028070148304

In [33]:
np.sum([float(x_)**2 for x_ in underexpose_item_feat.img_vec.values[1].split(",")])

374.25006719310994

# 训练集——用户点击商品数据

In [34]:
list_phase_range = [0,1,2,3,4]
list_train_phase_file = [(x_,"../data/underexpose_train/underexpose_train_click-"+str(x_)+".csv") for x_ in list_phase_range]

In [35]:
list_train_phase_file

[(0, '../data/underexpose_train/underexpose_train_click-0.csv'),
 (1, '../data/underexpose_train/underexpose_train_click-1.csv'),
 (2, '../data/underexpose_train/underexpose_train_click-2.csv'),
 (3, '../data/underexpose_train/underexpose_train_click-3.csv'),
 (4, '../data/underexpose_train/underexpose_train_click-4.csv')]

In [36]:
def get_train_click(list_train_phase_file):
    list_underexpose_click = []
    columns = ["user_id", "item_id", "time", "phase"]
    for phase, file in tqdm(list_train_phase_file):
        underexpose_click = pd.read_csv(file
                                        ,names=["user_id", "item_id", "time"]
                                        ,nrows=None      
                                        ,sep=","
                                       )
        underexpose_click["phase"] = phase
        underexpose_click = underexpose_click[columns]
        list_underexpose_click.append(underexpose_click)
    all_underexpose_click = pd.concat(list_underexpose_click)
    return all_underexpose_click[columns]

In [37]:
underexpose_train_click = get_train_click(list_train_phase_file)

100%|██████████| 5/5 [00:00<00:00, 10.16it/s]

## 查看训练集--点击用户点击商品数据

In [38]:
len(underexpose_train_click)

1258742

In [39]:
underexpose_train_click.head()

   user_id  item_id      time  phase
0     4965       18  0.983763      0
1    20192       34  0.983772      0
2    30128       91  0.983780      0
3    29473      189  0.983930      0
4    10625      225  0.983925      0

In [40]:
underexpose_train_click.sort_values(['user_id','time']).head(20)

        user_id  item_id      time  phase
19829         1    78142  0.983742      0
236132        1    26646  0.983757      0
20480         1    89568  0.983763      0
19709         1    76240  0.983770      0
108033        1    87533  0.983790      0
56362         1    78380  0.983790      0
159250        1    85492  0.983875      0
160489        1    85492  0.983875      2
20968         1    97795  0.983877      0
111177        1    18522  0.983887      0
112207        1    18522  0.983887      2
175014        1    81337  0.983887      2
3123          1    47611  0.983887      0
214540        1    31443  0.983887      0
208867        1    31443  0.983887      2
74513         1    17887  0.983894      0
84964         1    69359  0.983942      0
78353         1    69359  0.983942      2
92822         1    69359  0.983942      3
186580        1    28869  0.984030      2

In [41]:
underexpose_train_click[underexpose_train_click["user_id"]==1].sort_values(["time"]).head(20)

        user_id  item_id      time  phase
19829         1    78142  0.983742      0
236132        1    26646  0.983757      0
20480         1    89568  0.983763      0
19709         1    76240  0.983770      0
108033        1    87533  0.983790      0
56362         1    78380  0.983790      0
160489        1    85492  0.983875      2
159250        1    85492  0.983875      0
20968         1    97795  0.983877      0
111177        1    18522  0.983887      0
112207        1    18522  0.983887      2
175014        1    81337  0.983887      2
3123          1    47611  0.983887      0
214540        1    31443  0.983887      0
208867        1    31443  0.983887      2
74513         1    17887  0.983894      0
78353         1    69359  0.983942      2
84964         1    69359  0.983942      0
92822         1    69359  0.983942      3
204459        1    28869  0.984030      4

In [42]:
underexpose_train_click[underexpose_train_click["user_id"]==1].sort_values(["time","phase"]).head(20)

        user_id  item_id      time  phase
19829         1    78142  0.983742      0
236132        1    26646  0.983757      0
20480         1    89568  0.983763      0
19709         1    76240  0.983770      0
108033        1    87533  0.983790      0
56362         1    78380  0.983790      0
159250        1    85492  0.983875      0
160489        1    85492  0.983875      2
20968         1    97795  0.983877      0
111177        1    18522  0.983887      0
112207        1    18522  0.983887      2
175014        1    81337  0.983887      2
3123          1    47611  0.983887      0
214540        1    31443  0.983887      0
208867        1    31443  0.983887      2
74513         1    17887  0.983894      0
84964         1    69359  0.983942      0
78353         1    69359  0.983942      2
92822         1    69359  0.983942      3
186580        1    28869  0.984030      2

In [43]:
underexpose_train_click[underexpose_train_click["user_id"]==2].head(20)

        user_id  item_id      time  phase
475           2     7053  0.983819      0
7818          2     7745  0.983783      0
15007         2     4983  0.983872      0
23732         2    23824  0.983872      0
28607         2   104635  0.983819      0
44450         2     4168  0.983872      0
66660         2     8481  0.983830      0
113659        2    58621  0.983884      0
138931        2   111576  0.983819      0
146083        2   109065  0.983819      0
148512        2    28099  0.983783      0
167105        2    93552  0.983884      0
202410        2    72912  0.983765      0
204993        2   115561  0.983841      0
231623        2    73084  0.983784      0
7638          2     4983  0.983872      1
23896         2    23824  0.983872      1
28772         2   104635  0.983819      1
36706         2   111893  0.983981      1
44662         2     4168  0.983872      1

# 测试集——用户点击数据-待预测数据

In [44]:
list_phase_range = [0,1,2,3,4]
list_test_phase_file = [(x_,"../data/underexpose_test/underexpose_test_click-"+str(x_)+"/underexpose_test_click-"+str(x_)+".csv") for x_ in list_phase_range]
list_test_phase_query_file = [(x_,"../data/underexpose_test/underexpose_test_click-"+str(x_)+"/underexpose_test_qtime-"+str(x_)+".csv") for x_ in list_phase_range]

In [45]:
list_test_phase_file

[(0,
  '../data/underexpose_test/underexpose_test_click-0/underexpose_test_click-0.csv'),
 (1,
  '../data/underexpose_test/underexpose_test_click-1/underexpose_test_click-1.csv'),
 (2,
  '../data/underexpose_test/underexpose_test_click-2/underexpose_test_click-2.csv'),
 (3,
  '../data/underexpose_test/underexpose_test_click-3/underexpose_test_click-3.csv'),
 (4,
  '../data/underexpose_test/underexpose_test_click-4/underexpose_test_click-4.csv')]

In [46]:
list_test_phase_query_file

[(0,
  '../data/underexpose_test/underexpose_test_click-0/underexpose_test_qtime-0.csv'),
 (1,
  '../data/underexpose_test/underexpose_test_click-1/underexpose_test_qtime-1.csv'),
 (2,
  '../data/underexpose_test/underexpose_test_click-2/underexpose_test_qtime-2.csv'),
 (3,
  '../data/underexpose_test/underexpose_test_click-3/underexpose_test_qtime-3.csv'),
 (4,
  '../data/underexpose_test/underexpose_test_click-4/underexpose_test_qtime-4.csv')]

In [47]:
def get_test_click(list_test_phase_file, list_test_phase_query_file):
    list_underexpose_click = []
    columns = ["user_id", "item_id", "time", "phase"]
    for phase, file in tqdm(list_test_phase_file):
        underexpose_click = pd.read_csv(file
                                        ,names=["user_id", "item_id", "time"]
                                        ,nrows=None      
                                        ,sep=","
                                       )
        underexpose_click["phase"] = phase
        underexpose_click = underexpose_click[columns] 
        list_underexpose_click.append(underexpose_click)
    for phase, file in tqdm(list_test_phase_query_file):
        underexpose_qtime = pd.read_csv(file
                                    ,names=["user_id", "query_time"]
                                    ,nrows=None      
                                    ,sep=","
                                   )   
        underexpose_qtime.columns = ["user_id", "time"]
        underexpose_qtime["phase"] = phase
        underexpose_qtime["item_id"] = -999
        underexpose_qtime = underexpose_qtime[columns]
        list_underexpose_click.append(underexpose_qtime)
    all_underexpose_click = pd.concat(list_underexpose_click)
    return all_underexpose_click[columns]

In [48]:
underexpose_test_click = get_test_click(list_test_phase_file, list_test_phase_query_file)

100%|██████████| 5/5 [00:00<00:00, 91.94it/s]
100%|██████████| 5/5 [00:00<00:00, 192.37it/s]

In [151]:
len(underexpose_test_click[underexpose_test_click['item_id']<0])

8462

In [152]:
len(set(underexpose_test_click[underexpose_test_click['item_id']<0].user_id))

8462

## 查看测试集合数据-待预测的数据

In [49]:
len(underexpose_test_click[underexpose_test_click["item_id"]!=-999])

118833

In [50]:
len(underexpose_test_click[underexpose_test_click["item_id"]==-999])

8462

In [51]:
underexpose_test_click.head()

   user_id  item_id      time  phase
0     1133      221  0.983812      0
1    17864      253  0.983783      0
2     6941      309  0.983785      0
3    34089      358  0.983781      0
4    21659      536  0.983793      0

In [52]:
underexpose_test_click.sort_values(['user_id','time']).head(20)

       user_id  item_id      time  phase
21171        1    63733  0.983848      1
16181        1    85492  0.983875      1
10475        1    17770  0.983886      1
11233        1    18522  0.983887      1
351          1    47611  0.983887      1
20982        1    31443  0.983887      1
8245         1    17887  0.983894      1
6399         1    72939  0.983898      1
7848         1    69359  0.983942      1
0            1     -999  0.983942      1
2270         2    23824  0.983872      2
4245         2     4168  0.983872      2
16334        2    93552  0.983884      2
10680        2    58621  0.983884      2
4256         2     5461  0.983948      2
3471         2   111893  0.983981      2
11666        2   107358  0.983983      2
14323        2   107956  0.983983      2
13003        2   115361  0.983983      2
14650        2    40083  0.983983      2

In [53]:
underexpose_test_click[underexpose_test_click["user_id"]==1].sort_values(['time']).head(20)

       user_id  item_id      time  phase
21171        1    63733  0.983848      1
16181        1    85492  0.983875      1
10475        1    17770  0.983886      1
11233        1    18522  0.983887      1
351          1    47611  0.983887      1
20982        1    31443  0.983887      1
8245         1    17887  0.983894      1
6399         1    72939  0.983898      1
7848         1    69359  0.983942      1
0            1     -999  0.983942      1

In [54]:
underexpose_test_click[underexpose_test_click["user_id"]==1].sort_values(['time','phase']).head(20)

       user_id  item_id      time  phase
21171        1    63733  0.983848      1
16181        1    85492  0.983875      1
10475        1    17770  0.983886      1
11233        1    18522  0.983887      1
351          1    47611  0.983887      1
20982        1    31443  0.983887      1
8245         1    17887  0.983894      1
6399         1    72939  0.983898      1
7848         1    69359  0.983942      1
0            1     -999  0.983942      1

In [55]:
len(underexpose_test_click.drop_duplicates(['user_id','phase']))

8462

In [56]:
len(set(underexpose_test_click['user_id']))

8462

# 建模数据准备

## 序列数据处理

In [57]:
underexpose_train_click.head()

   user_id  item_id      time  phase
0     4965       18  0.983763      0
1    20192       34  0.983772      0
2    30128       91  0.983780      0
3    29473      189  0.983930      0
4    10625      225  0.983925      0

In [58]:
def deal_click_data(underexpose_click_data):
    underexpose_click_data = underexpose_click_data.sort_values(['user_id','phase','time'])
    dict_user_phase_action = {}
    for i,row in tqdm(underexpose_click_data.iterrows()):
        user_id, item_id, time, phase = int(row["user_id"]), int(row["item_id"]), float(row["time"]), int(row["phase"])
        if phase not in dict_user_phase_action:
            dict_user_phase_action[phase] = {}
        if user_id not in dict_user_phase_action[phase]:
            dict_user_phase_action[phase][user_id] = {"item_seq":[],"time_seq":[],"diff_time_seq":[]}
        else:
            diff_time = (time - dict_user_phase_action[phase][user_id]["time_seq"][-1]) * 10**4
            dict_user_phase_action[phase][user_id]["diff_time_seq"].append(diff_time)    
        dict_user_phase_action[phase][user_id]["item_seq"].append(item_id)
        dict_user_phase_action[phase][user_id]["time_seq"].append(time)
    return dict_user_phase_action

In [59]:
# 2 * 10 **4

In [60]:
dict_train_user_phase_action = deal_click_data(underexpose_train_click)

1258742it [03:11, 6585.37it/s]

In [61]:
dict_test_user_phase_action = deal_click_data(underexpose_test_click)

127295it [00:19, 6551.70it/s]

## 查看处理好的序列数据

### 训练数据

In [68]:
dict_train_user_phase_action.keys()

dict_keys([0, 2, 3, 4, 1])

In [69]:
dict_train_user_phase_action[0].keys()

dict_keys([1, 2, 4, 7, 9, 10, 12, 13, 14, 16, 27, 30, 32, 34, 35, 36, 39, 41, 42, 45, 47, 50, 51, 53, 54, 57, 61, 62, 63, 64, 65, 70, 71, 72, 76, 78, 81, 84, 85, 90, 92, 94, 96, 97, 98, 100, 101, 104, 105, 106, 107, 108, 109, 111, 112, 114, 117, 119, 122, 123, 124, 125, 127, 129, 133, 134, 136, 140, 145, 148, 150, 152, 155, 157, 158, 160, 161, 162, 163, 164, 167, 169, 172, 173, 174, 177, 179, 180, 181, 183, 185, 186, 188, 189, 190, 191, 192, 193, 194, 197, 200, 201, 205, 207, 208, 210, 212, 213, 214, 216, 217, 221, 224, 225, 226, 229, 230, 233, 235, 237, 238, 239, 241, 243, 244, 246, 247, 248, 251, 254, 255, 256, 257, 258, 262, 263, 265, 267, 268, 270, 271, 272, 273, 274, 278, 279, 281, 283, 284, 287, 289, 290, 291, 292, 293, 295, 296, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 310, 312, 313, 314, 315, 320, 322, 323, 325, 329, 331, 332, 336, 337, 339, 340, 343, 344, 346, 347, 349, 350, 351, 353, 355, 356, 358, 359, 360, 364, 367, 368, 371, 372, 373, 379, 380, 381, 382, 383, 384, 386, 387, 389, 391, 394, 397, 398, 401, 402, 403, 404, 405, 406, 408, 409, 414, 417, 419, 420, 421, 423, 424, 425, 426, 427, 428, 433, 434, 435, 437, 438, 439, 441, 443, 445, 446, 447, 449, 452, 453, 454, 455, 458, 460, 461, 464, 466, 468, 470, 471, 472, 474, 475, 480, 483, 485, 487, 489, 492, 493, 497, 499, 500, 503, 504, 505, 508, 512, 513, 515, 520, 522, 523, 524, 525, 526, 529, 535, 536, 538, 540, 545, 546, 554, 556, 558, 559, 562, 563, 567, 568, 570, 571, 573, 574, 576, 577, 579, 581, 586, 588, 590, 591, 592, 595, 597, 599, 600, 602, 603, 607, 608, 610, 611, 612, 615, 617, 618, 620, 628, 629, 632, 634, 636, 637, 639, 643, 645, 647, 648, 651, 654, 655, 657, 658, 659, 662, 666, 667, 668, 672, 674, 675, 677, 678, 680, 686, 687, 688, 689, 690, 692, 695, 696, 698, 699, 701, 702, 703, 705, 706, 707, 711, 712, 713, 720, 721, 723, 727, 728, 729, 731, 732, 735, 736, 740, 741, 742, 744, 746, 747, 749, 751, 754, 757, 758, 760, 764, 766, 767, 768, 769, 771, 772, 773, 774, 775, 777, 783, 784, 785, 786, 787, 788, 790, 793, 794, 795, 797, 802, 808, 811, 812, 815, 817, 819, 820, 823, 826, 829, 832, 833, 837, 838, 839, 840, 842, 843, 844, 845, 846, 850, 851, 853, 854, 856, 857, 860, 861, 862, 863, 864, 865, 866, 867, 870, 871, 872, 873, 875, 876, 877, 878, 881, 883, 884, 885, 886, 887, 888, 889, 893, 894, 896, 897, 899, 900, 904, 906, 907, 910, 911, 914, 918, 921, 925, 927, 929, 930, 932, 934, 936, 942, 944, 947, 950, 951, 955, 958, 959, 960, 962, 963, 965, 967, 970, 973, 974, 976, 977, 980, 983, 984, 985, 987, 988, 992, 993, 994, 996, 997, 998, 999, 1002, 1003, 1004, 1005, 1007, 1009, 1011, 1013, 1015, 1016, 1017, 1018, 1022, 1024, 1026, 1027, 1031, 1032, 1033, 1038, 1039, 1040, 1042, 1043, 1044, 1046, 1047, 1049, 1050, 1054, 1057, 1059, 1060, 1062, 1064, 1065, 1069, 1070, 1072, 1073, 1075, 1076, 1077, 1081, 1083, 1084, 1086, 1091, 1092, 1093, 1094, 1095, 1097, 1099, 1102, 1103, 1104, 1106, 1108, 1109, 1113, 1116, 1117, 1119, 1120, 1124, 1125, 1126, 1127, 1128, 1129, 1131, 1132, 1136, 1141, 1143, 1145, 1148, 1150, 1153, 1157, 1161, 1162, 1164, 1165, 1167, 1171, 1173, 1174, 1176, 1179, 1182, 1183, 1185, 1186, 1189, 1193, 1194, 1195, 1198, 1201, 1202, 1204, 1205, 1206, 1208, 1209, 1211, 1213, 1214, 1218, 1219, 1220, 1222, 1223, 1224, 1226, 1228, 1230, 1231, 1233, 1234, 1238, 1242, 1244, 1247, 1248, 1249, 1252, 1253, 1257, 1258, 1260, 1261, 1262, 1266, 1269, 1271, 1273, 1277, 1280, 1281, 1282, 1283, 1284, 1285, 1286, 1288, 1290, 1291, 1293, 1295, 1297, 1299, 1300, 1301, 1302, 1303, 1304, 1305, 1306, 1308, 1310, 1314, 1315, 1317, 1318, 1319, 1322, 1323, 1324, 1325, 1334, 1335, 1336, 1338, 1340, 1343, 1344, 1345, 1346, 1347, 1356, 1361, 1363, 1365, 1368, 1369, 1370, 1371, 1373, 1374, 1376, 1377, 1378, 1379, 1380, 1384, 1389, 1392, 1393, 1395, 1398, 1402, 1406, 1407, 1409, 1410, 1412, 1418, 1421, 1422, 1423, 1425, 1431, 1434, 1436, 1437, 1439, 1443, 1445, 1447, 1448, 1449, 1450, 1451, 1453, 1455, 1456, 1457, 1459, 1460, 1461, 1462, 1464, 1465, 1466, 1467, 1469, 1470, 1471, 1473, 1477, 1480, 1482, 1484, 1486, 1487, 1488, 1489, 1490, 1492, 1494, 1495, 1497, 1498, 1499, 1500, 1501, 1502, 1505, 1509, 1511, 1512, 1514, 1515, 1520, 1521, 1522, 1523, 1527, 1528, 1530, 1531, 1532, 1533, 1536, 1537, 1538, 1543, 1544, 1547, 1548, 1549, 1550, 1552, 1554, 1555, 1556, 1560, 1561, 1564, 1565, 1566, 1568, 1570, 1572, 1576, 1577, 1579, 1580, 1581, 1582, 1586, 1588, 1589, 1593, 1594, 1596, 1597, 1599, 1600, 1601, 1602, 1603, 1604, 1607, 1608, 1609, 1610, 1611, 1614, 1620, 1625, 1629, 1630, 1631, 1632, 1633, 1635, 1636, 1642, 1644, 1647, 1654, 1655, 1656, 1657, 1658, 1662, 1663, 1664, 1666, 1667, 1668, 1669, 1671, 1674, 1675, 1676, 1677, 1679, 1680, 1681, 1682, 1686, 1687, 1689, 1690, 1691, 1692, 1693, 1698, 1699, 1700, 1701, 1702, 1703, 1707, 1709, 1710, 1711, 1712, 1713, 1714, 1717, 1718, 1719, 1720, 1721, 1723, 1725, 1729, 1730, 1731, 1733, 1735, 1737, 1739, 1740, 1741, 1742, 1744, 1746, 1761, 1762, 1763, 1764, 1765, 1767, 1769, 1773, 1775, 1776, 1779, 1780, 1781, 1783, 1784, 1785, 1788, 1789, 1790, 1791, 1794, 1796, 1797, 1798, 1799, 1800, 1801, 1802, 1805, 1806, 1811, 1812, 1813, 1814, 1816, 1817, 1818, 1819, 1820, 1821, 1822, 1829, 1830, 1831, 1833, 1835, 1836, 1838, 1840, 1841, 1843, 1844, 1845, 1846, 1847, 1849, 1850, 1851, 1852, 1853, 1854, 1856, 1857, 1858, 1860, 1861, 1862, 1863, 1867, 1868, 1869, 1872, 1873, 1874, 1876, 1878, 1883, 1885, 1886, 1887, 1889, 1891, 1893, 1894, 1895, 1896, 1897, 1898, 1899, 1900, 1901, 1902, 1906, 1907, 1911, 1913, 1916, 1918, 1919, 1920, 1922, 1924, 1926, 1929, 1930, 1932, 1934, 1935, 1938, 1940, 1942, 1943, 1946, 1949, 1950, 1952, 1953, 1954, 1956, 1961, 1963, 1966, 1967, 1968, 1971, 1972, 1974, 1975, 1976, 1977, 1979, 1981, 1984, 1985, 1986, 1987, 1989, 1990, 1992, 1993, 1994, 1996, 1998, 1999, 2001, 2003, 2006, 2008, 2010, 2011, 2012, 2014, 2016, 2017, 2019, 2020, 2023, 2027, 2028, 2029, 2031, 2032, 2034, 2040, 2041, 2042, 2043, 2049, 2050, 2051, 2052, 2053, 2055, 2056, 2059, 2062, 2064, 2066, 2067, 2071, 2072, 2073, 2074, 2075, 2076, 2081, 2082, 2084, 2085, 2086, 2087, 2088, 2089, 2091, 2092, 2093, 2099, 2105, 2106, 2107, 2108, 2110, 2111, 2113, 2118, 2119, 2125, 2126, 2127, 2129, 2133, 2135, 2136, 2137, 2138, 2139, 2140, 2141, 2142, 2143, 2146, 2147, 2149, 2152, 2153, 2155, 2158, 2160, 2161, 2162, 2163, 2164, 2165, 2168, 2169, 2172, 2174, 2175, 2176, 2180, 2181, 2182, 2183, 2184, 2185, 2187, 2188, 2190, 2192, 2193, 2194, 2197, 2199, 2201, 2202, 2203, 2204, 2205, 2206, 2207, 2209, 2210, 2212, 2215, 2216, 2217, 2219, 2220, 2221, 2224, 2228, 2231, 2232, 2234, 2235, 2236, 2237, 2238, 2239, 2246, 2247, 2249, 2251, 2252, 2254, 2258, 2259, 2262, 2263, 2265, 2267, 2271, 2275, 2280, 2281, 2285, 2286, 2287, 2290, 2291, 2292, 2294, 2296, 2297, 2298, 2300, 2303, 2305, 2306, 2307, 2309, 2311, 2313, 2314, 2317, 2320, 2324, 2326, 2329, 2330, 2331, 2334, 2336, 2337, 2338, 2339, 2340, 2341, 2345, 2348, 2351, 2353, 2355, 2357, 2358, 2362, 2364, 2367, 2368, 2369, 2370, 2372, 2374, 2377, 2378, 2380, 2381, 2384, 2385, 2386, 2391, 2392, 2395, 2396, 2397, 2400, 2401, 2402, 2403, 2406, 2407, 2410, 2411, 2412, 2413, 2416, 2417, 2418, 2421, 2422, 2425, 2426, 2427, 2428, 2429, 2430, 2433, 2437, 2438, 2446, 2447, 2449, 2451, 2454, 2456, 2459, 2460, 2461, 2462, 2463, 2470, 2471, 2473, 2474, 2476, 2477, 2479, 2481, 2483, 2485, 2487, 2489, 2492, 2494, 2495, 2496, 2498, 2499, 2501, 2502, 2503, 2504, 2505, 2507, 2510, 2511, 2513, 2515, 2516, 2518, 2520, 2523, 2524, 2525, 2526, 2528, 2531, 2532, 2533, 2536, 2538, 2540, 2542, 2543, 2545, 2550, 2555, 2557, 2560, 2564, 2565, 2567, 2568, 2570, 2571, 2572, 2575, 2576, 2579, 2580, 2581, 2582, 2583, 2586, 2588, 2589, 2590, 2591, 2592, 2594, 2597, 2598, 2599, 2601, 2602, 2603, 2604, 2606, 2610, 2611, 2613, 2615, 2617, 2619, 2620, 2621, 2622, 2623, 2624, 2625, 2628, 2630, 2632, 2633, 2636, 2637, 2638, 2641, 2645, 2647, 2650, 2652, 2653, 2655, 2656, 2657, 2658, 2660, 2663, 2665, 2667, 2668, 2669, 2671, 2672, 2675, 2677, 2678, 2679, 2681, 2683, 2686, 2687, 2688, 2689, 2692, 2693, 2694, 2697, 2700, 2701, 2702, 2705, 2707, 2708, 2709, 2714, 2718, 2720, 2722, 2723, 2724, 2731, 2732, 2733, 2736, 2740, 2741, 2744, 2746, 2748, 2749, 2752, 2753, 2754, 2755, 2756, 2757, 2758, 2759, 2760, 2765, 2768, 2769, 2774, 2776, 2777, 2778, 2779, 2781, 2784, 2785, 2786, 2790, 2791, 2792, 2795, 2798, 2801, 2802, 2804, 2808, 2809, 2810, 2811, 2812, 2813, 2815, 2817, 2820, 2821, 2823, 2824, 2829, 2832, 2836, 2837, 2847, 2848, 2850, 2852, 2854, 2855, 2857, 2858, 2861, 2863, 2865, 2866, 2868, 2872, 2873, 2874, 2875, 2876, 2877, 2879, 2881, 2884, 2885, 2887, 2888, 2889, 2892, 2894, 2897, 2900, 2901, 2902, 2903, 2908, 2911, 2912, 2913, 2917, 2921, 2922, 2924, 2927, 2932, 2934, 2935, 2938, 2940, 2942, 2944, 2951, 2952, 2954, 2957, 2958, 2960, 2961, 2962, 2963, 2964, 2967, 2968, 2969, 2971, 2974, 2975, 2976, 2977, 2978, 2979, 2980, 2982, 2983, 2984, 2986, 2987, 2989, 2996, 2997, 2999, 3002, 3004, 3006, 3007, 3009, 3011, 3015, 3016, 3018, 3019, 3020, 3021, 3023, 3024, 3028, 3029, 3031, 3034, 3035, 3038, 3042, 3044, 3046, 3050, 3053, 3055, 3056, 3059, 3061, 3065, 3067, 3071, 3072, 3076, 3077, 3078, 3079, 3081, 3083, 3085, 3086, 3088, 3089, 3094, 3095, 3098, 3099, 3100, 3101, 3106, 3107, 3108, 3111, 3116, 3117, 3120, 3122, 3123, 3126, 3128, 3129, 3130, 3131, 3132, 3136, 3138, 3140, 3141, 3143, 3144, 3145, 3153, 3154, 3155, 3156, 3158, 3159, 3160, 3164, 3165, 3170, 3172, 3173, 3174, 3180, 3181, 3184, 3185, 3188, 3191, 3192, 3197, 3199, 3200, 3202, 3204, 3207, 3208, 3210, 3211, 3213, 3215, 3217, 3218, 3227, 3228, 3231, 3232, 3233, 3236, 3238, 3240, 3241, 3242, 3243, 3247, 3249, 3250, 3253, 3254, 3259, 3260, 3261, 3265, 3266, 3270, 3271, 3272, 3274, 3284, 3286, 3287, 3288, 3290, 3291, 3292, 3294, 3295, 3296, 3297, 3302, 3303, 3305, 3306, 3308, 3309, 3310, 3312, 3314, 3318, 3319, 3321, 3323, 3326, 3328, 3329, 3332, 3335, 3336, 3338, 3341, 3342, 3343, 3349, 3357, 3360, 3367, 3368, 3369, 3371, 3373, 3376, 3379, 3382, 3385, 3390, 3391, 3393, 3394, 3395, 3397, 3398, 3403, 3405, 3407, 3408, 3409, 3411, 3412, 3413, 3414, 3415, 3416, 3417, 3418, 3419, 3420, 3423, 3424, 3425, 3428, 3429, 3433, 3436, 3438, 3439, 3440, 3442, 3446, 3447, 3449, 3451, 3453, 3455, 3456, 3459, 3460, 3461, 3463, 3464, 3466, 3468, 3469, 3470, 3471, 3472, 3473, 3474, 3475, 3477, 3478, 3479, 3481, 3482, 3483, 3484, 3485, 3486, 3488, 3489, 3490, 3491, 3492, 3493, 3496, 3497, 3499, 3500, 3501, 3502, 3503, 3504, 3505, 3506, 3507, 3510, 3514, 3515, 3518, 3519, 3522, 3525, 3526, 3528, 3530, 3532, 3534, 3535, 3536, 3540, 3545, 3547, 3548, 3549, 3551, 3552, 3554, 3555, 3556, 3558, 3559, 3561, 3562, 3565, 3566, 3567, 3568, 3570, 3573, 3576, 3578, 3580, 3581, 3582, 3587, 3588, 3589, 3592, 3595, 3599, 3600, 3601, 3602, 3606, 3609, 3611, 3614, 3616, 3617, 3622, 3624, 3625, 3628, 3632, 3633, 3635, 3636, 3637, 3639, 3640, 3642, 3645, 3646, 3647, 3651, 3653, 3654, 3657, 3660, 3661, 3664, 3666, 3669, 3670, 3671, 3673, 3675, 3677, 3678, 3680, 3682, 3686, 3687, 3688, 3689, 3691, 3693, 3695, 3698, 3699, 3700, 3701, 3704, 3705, 3708, 3710, 3712, 3714, 3715, 3716, 3717, 3720, 3721, 3722, 3724, 3726, 3728, 3730, 3731, 3732, 3733, 3734, 3736, 3737, 3739, 3743, 3744, 3745, 3748, 3749, 3755, 3756, 3758, 3759, 3760, 3761, 3763, 3765, 3766, 3767, 3770, 3771, 3772, 3775, 3778, 3780, 3781, 3782, 3783, 3786, 3788, 3793, 3797, 3798, 3799, 3800, 3801, 3803, 3804, 3805, 3807, 3808, 3809, 3810, 3811, 3813, 3818, 3822, 3824, 3826, 3829, 3832, 3834, 3835, 3836, 3837, 3841, 3842, 3843, 3844, 3845, 3847, 3848, 3849, 3852, 3853, 3854, 3856, 3858, 3859, 3860, 3863, 3864, 3865, 3868, 3869, 3871, 3875, 3877, 3885, 3887, 3892, 3899, 3900, 3901, 3902, 3903, 3904, 3906, 3908, 3909, 3910, 3917, 3919, 3920, 3922, 3924, 3925, 3926, 3929, 3930, 3932, 3935, 3936, 3939, 3941, 3942, 3943, 3944, 3946, 3948, 3952, 3953, 3954, 3955, 3958, 3959, 3961, 3962, 3964, 3966, 3967, 3970, 3973, 3974, 3975, 3976, 3978, 3980, 3983, 3985, 3987, 3988, 3989, 3990, 3992, 3995, 3996, 3998, 4000, 4001, 4002, 4006, 4007, 4008, 4017, 4018, 4020, 4023, 4024, 4025, 4028, 4030, 4032, 4034, 4035, 4040, 4041, 4042, 4043, 4044, 4045, 4046, 4047, 4050, 4051, 4054, 4055, 4057, 4058, 4060, 4061, 4062, 4063, 4064, 4065, 4066, 4067, 4071, 4072, 4073, 4075, 4076, 4078, 4083, 4084, 4085, 4087, 4089, 4096, 4098, 4099, 4100, 4101, 4104, 4105, 4106, 4108, 4109, 4110, 4111, 4113, 4115, 4116, 4118, 4119, 4121, 4123, 4124, 4128, 4129, 4130, 4131, 4134, 4135, 4137, 4138, 4139, 4140, 4141, 4142, 4143, 4145, 4150, 4152, 4153, 4155, 4157, 4159, 4161, 4163, 4166, 4168, 4170, 4173, 4175, 4176, 4178, 4181, 4183, 4186, 4187, 4188, 4190, 4192, 4193, 4194, 4195, 4197, 4198, 4199, 4200, 4201, 4204, 4205, 4209, 4210, 4212, 4214, 4215, 4216, 4219, 4220, 4222, 4227, 4230, 4232, 4236, 4239, 4248, 4249, 4251, 4252, 4254, 4255, 4261, 4262, 4263, 4264, 4265, 4266, 4267, 4269, 4271, 4272, 4273, 4276, 4278, 4281, 4284, 4286, 4289, 4291, 4292, 4293, 4296, 4297, 4300, 4302, 4303, 4304, 4305, 4306, 4307, 4308, 4310, 4311, 4314, 4316, 4318, 4319, 4320, 4321, 4322, 4324, 4325, 4326, 4328, 4329, 4330, 4331, 4332, 4333, 4337, 4340, 4342, 4344, 4346, 4349, 4351, 4353, 4354, 4358, 4361, 4362, 4364, 4365, 4369, 4370, 4372, 4373, 4374, 4376, 4377, 4382, 4385, 4390, 4391, 4393, 4394, 4395, 4403, 4405, 4407, 4408, 4409, 4418, 4419, 4421, 4423, 4424, 4425, 4427, 4429, 4430, 4431, 4435, 4436, 4437, 4438, 4439, 4441, 4446, 4450, 4451, 4452, 4453, 4454, 4457, 4458, 4459, 4461, 4462, 4464, 4465, 4467, 4469, 4473, 4474, 4475, 4476, 4479, 4481, 4483, 4485, 4487, 4489, 4490, 4493, 4494, 4495, 4496, 4498, 4500, 4501, 4502, 4503, 4504, 4506, 4508, 4509, 4512, 4513, 4514, 4518, 4519, 4522, 4526, 4527, 4530, 4533, 4535, 4538, 4539, 4540, 4541, 4542, 4545, 4546, 4548, 4550, 4553, 4555, 4557, 4558, 4560, 4562, 4564, 4566, 4567, 4570, 4572, 4573, 4575, 4577, 4578, 4579, 4580, 4582, 4583, 4584, 4586, 4588, 4590, 4591, 4592, 4593, 4594, 4599, 4603, 4604, 4605, 4606, 4607, 4608, 4610, 4611, 4612, 4613, 4615, 4618, 4619, 4622, 4623, 4625, 4626, 4627, 4628, 4629, 4630, 4632, 4633, 4634, 4636, 4637, 4639, 4641, 4643, 4644, 4645, 4646, 4651, 4655, 4656, 4662, 4665, 4667, 4669, 4670, 4671, 4672, 4674, 4679, 4680, 4682, 4684, 4685, 4691, 4692, 4693, 4694, 4695, 4699, 4701, 4702, 4704, 4705, 4706, 4710, 4711, 4714, 4715, 4718, 4723, 4724, 4725, 4726, 4728, 4733, 4735, 4737, 4738, 4739, 4740, 4742, 4743, 4748, 4749, 4751, 4754, 4755, 4756, 4757, 4758, 4759, 4762, 4764, 4765, 4766, 4767, 4769, 4771, 4772, 4776, 4777, 4778, 4779, 4780, 4781, 4782, 4784, 4786, 4790, 4793, 4795, 4798, 4800, 4803, 4808, 4810, 4813, 4814, 4816, 4819, 4822, 4823, 4824, 4827, 4828, 4830, 4831, 4832, 4833, 4836, 4838, 4841, 4846, 4849, 4852, 4856, 4857, 4859, 4865, 4866, 4869, 4870, 4871, 4872, 4874, 4875, 4876, 4879, 4881, 4883, 4885, 4887, 4890, 4892, 4897, 4898, 4899, 4902, 4903, 4909, 4911, 4912, 4914, 4915, 4916, 4921, 4922, 4924, 4925, 4929, 4930, 4931, 4933, 4935, 4936, 4937, 4941, 4942, 4943, 4944, 4949, 4951, 4952, 4953, 4957, 4962, 4964, 4965, 4966, 4967, 4968, 4969, 4973, 4974, 4976, 4979, 4980, 4981, 4982, 4985, 4987, 4988, 4989, 4990, 4991, 4993, 4998, 4999, 5002, 5003, 5004, 5006, 5007, 5010, 5014, 5015, 5019, 5021, 5022, 5028, 5030, 5031, 5033, 5037, 5039, 5040, 5041, 5042, 5047, 5048, 5050, 5051, 5052, 5054, 5057, 5058, 5059, 5063, 5067, 5073, 5076, 5077, 5079, 5080, 5081, 5083, 5085, 5087, 5088, 5089, 5090, 5091, 5092, 5094, 5095, 5096, 5097, 5099, 5100, 5102, 5105, 5107, 5108, 5109, 5110, 5111, 5112, 5113, 5120, 5122, 5124, 5130, 5131, 5133, 5134, 5135, 5139, 5141, 5144, 5145, 5147, 5151, 5153, 5155, 5156, 5157, 5158, 5160, 5163, 5166, 5167, 5168, 5169, 5172, 5174, 5177, 5179, 5182, 5185, 5186, 5188, 5190, 5193, 5195, 5196, 5198, 5201, 5204, 5205, 5206, 5210, 5211, 5212, 5215, 5216, 5218, 5219, 5223, 5224, 5226, 5228, 5229, 5230, 5231, 5232, 5235, 5237, 5240, 5241, 5243, 5245, 5246, 5248, 5249, 5250, 5251, 5252, 5254, 5255, 5256, 5260, 5262, 5264, 5266, 5271, 5273, 5277, 5279, 5281, 5282, 5283, 5284, 5285, 5286, 5287, 5288, 5289, 5292, 5293, 5294, 5295, 5297, 5298, 5301, 5303, 5304, 5305, 5306, 5309, 5310, 5311, 5312, 5314, 5315, 5317, 5318, 5319, 5320, 5321, 5322, 5325, 5327, 5328, 5330, 5331, 5333, 5334, 5336, 5337, 5339, 5340, 5341, 5342, 5344, 5345, 5347, 5348, 5349, 5350, 5352, 5358, 5359, 5362, 5365, 5367, 5369, 5370, 5373, 5376, 5377, 5380, 5381, 5383, 5384, 5387, 5391, 5392, 5393, 5394, 5397, 5398, 5402, 5403, 5404, 5405, 5406, 5408, 5410, 5411, 5414, 5415, 5416, 5417, 5419, 5420, 5421, 5422, 5424, 5425, 5428, 5429, 5431, 5433, 5435, 5436, 5438, 5439, 5440, 5441, 5442, 5443, 5444, 5446, 5447, 5451, 5452, 5457, 5458, 5459, 5460, 5461, 5462, 5463, 5464, 5465, 5466, 5468, 5469, 5472, 5474, 5476, 5480, 5481, 5482, 5483, 5485, 5486, 5487, 5488, 5490, 5494, 5495, 5497, 5503, 5504, 5505, 5508, 5510, 5512, 5513, 5517, 5519, 5520, 5521, 5524, 5525, 5526, 5527, 5528, 5531, 5535, 5536, 5537, 5538, 5540, 5541, 5542, 5546, 5547, 5549, 5552, 5554, 5557, 5560, 5565, 5568, 5570, 5571, 5573, 5574, 5575, 5576, 5578, 5579, 5580, 5581, 5583, 5585, 5586, 5587, 5589, 5591, 5592, 5594, 5595, 5597, 5600, 5601, 5605, 5606, 5607, 5609, 5613, 5614, 5615, 5616, 5622, 5624, 5625, 5626, 5627, 5628, 5633, 5635, 5636, 5639, 5640, 5641, 5645, 5647, 5650, 5651, 5653, 5656, 5660, 5663, 5664, 5666, 5668, 5672, 5673, 5675, 5678, 5679, 5680, 5681, 5682, 5683, 5684, 5690, 5691, 5696, 5699, 5700, 5701, 5702, 5703, 5704, 5707, 5708, 5710, 5712, 5714, 5717, 5718, 5722, 5724, 5725, 5727, 5728, 5729, 5730, 5733, 5734, 5735, 5736, 5737, 5738, 5739, 5740, 5745, 5746, 5747, 5748, 5750, 5751, 5754, 5755, 5756, 5757, 5758, 5759, 5761, 5767, 5772, 5773, 5776, 5777, 5780, 5782, 5783, 5784, 5785, 5787, 5788, 5789, 5790, 5791, 5793, 5794, 5795, 5796, 5798, 5800, 5804, 5806, 5807, 5809, 5810, 5811, 5813, 5817, 5818, 5820, 5821, 5823, 5825, 5828, 5829, 5832, 5833, 5838, 5840, 5842, 5843, 5844, 5847, 5848, 5850, 5851, 5853, 5854, 5855, 5856, 5857, 5858, 5859, 5861, 5865, 5866, 5869, 5870, 5871, 5873, 5878, 5880, 5881, 5883, 5886, 5887, 5888, 5890, 5891, 5892, 5894, 5895, 5898, 5899, 5901, 5902, 5906, 5909, 5910, 5912, 5913, 5915, 5916, 5920, 5922, 5923, 5925, 5926, 5928, 5931, 5932, 5933, 5935, 5936, 5937, 5938, 5939, 5941, 5948, 5950, 5952, 5953, 5954, 5955, 5956, 5957, 5958, 5959, 5961, 5965, 5966, 5969, 5972, 5976, 5977, 5981, 5983, 5988, 5991, 5992, 5993, 5994, 5997, 6002, 6009, 6010, 6011, 6012, 6018, 6019, 6023, 6027, 6029, 6030, 6031, 6033, 6034, 6037, 6038, 6041, 6043, 6044, 6046, 6047, 6048, 6049, 6055, 6056, 6063, 6065, 6069, 6070, 6071, 6073, 6074, 6076, 6077, 6078, 6080, 6081, 6082, 6084, 6085, 6086, 6087, 6089, 6090, 6092, 6095, 6097, 6098, 6099, 6100, 6102, 6103, 6106, 6107, 6108, 6109, 6110, 6111, 6112, 6113, 6114, 6115, 6117, 6120, 6121, 6123, 6124, 6128, 6129, 6131, 6133, 6134, 6135, 6136, 6137, 6141, 6143, 6144, 6145, 6148, 6150, 6153, 6156, 6161, 6163, 6164, 6165, 6166, 6167, 6169, 6170, 6172, 6175, 6176, 6178, 6179, 6180, 6181, 6185, 6186, 6189, 6190, 6194, 6195, 6197, 6198, 6201, 6202, 6205, 6206, 6209, 6210, 6211, 6216, 6217, 6218, 6221, 6223, 6227, 6228, 6229, 6230, 6233, 6234, 6235, 6236, 6239, 6244, 6245, 6249, 6253, 6254, 6255, 6256, 6260, 6261, 6262, 6264, 6267, 6269, 6271, 6272, 6273, 6275, 6278, 6279, 6283, 6289, 6290, 6293, 6294, 6295, 6298, 6299, 6300, 6301, 6305, 6306, 6308, 6310, 6311, 6313, 6316, 6318, 6319, 6321, 6323, 6326, 6327, 6328, 6329, 6331, 6332, 6334, 6335, 6338, 6341, 6343, 6349, 6350, 6352, 6353, 6356, 6360, 6361, 6363, 6364, 6365, 6366, 6367, 6373, 6375, 6376, 6377, 6378, 6381, 6382, 6383, 6387, 6389, 6394, 6395, 6396, 6397, 6399, 6400, 6403, 6404, 6405, 6408, 6409, 6410, 6412, 6414, 6416, 6419, 6420, 6421, 6422, 6423, 6425, 6429, 6430, 6432, 6433, 6434, 6437, 6438, 6439, 6442, 6443, 6444, 6445, 6447, 6448, 6449, 6450, 6451, 6453, 6454, 6458, 6459, 6461, 6462, 6463, 6465, 6466, 6467, 6472, 6473, 6474, 6480, 6481, 6483, 6484, 6486, 6489, 6493, 6494, 6496, 6499, 6502, 6504, 6505, 6507, 6509, 6518, 6519, 6520, 6522, 6525, 6529, 6532, 6536, 6537

In [70]:
dict_train_user_phase_action[0][1]

{'item_seq': [78142,
  26646,
  89568,
  76240,
  87533,
  78380,
  85492,
  97795,
  18522,
  47611,
  31443,
  17887,
  69359],
 'time_seq': [0.9837416195438412,
  0.9837566561259768,
  0.983763437539981,
  0.9837704328249822,
  0.9837895070896584,
  0.9837895279089588,
  0.9838754813378136,
  0.9838771248007852,
  0.9838865445879744,
  0.9838866404829348,
  0.9838869477253404,
  0.9838936622652276,
  0.9839419314982224],
 'diff_time_seq': [0.15036582135641297,
  0.06781414004120023,
  0.06995285001254459,
  0.19074264676177677,
  0.00020819300394769868,
  0.8595342885475699,
  0.016434629716011173,
  0.09419787189268725,
  0.0009589496041684242,
  0.0030724240551727178,
  0.0671453988720927,
  0.4826923299483532]}

### 测试数据

In [71]:
dict_test_user_phase_action.keys()

dict_keys([1, 2, 3, 0, 4])

In [72]:
dict_test_user_phase_action[0].keys()

dict_keys([11, 22, 44, 55, 66, 88, 99, 132, 143, 154, 176, 187, 242, 253, 264, 286, 297, 319, 341, 352, 363, 374, 385, 396, 407, 451, 462, 473, 484, 506, 572, 583, 594, 616, 660, 682, 704, 715, 726, 770, 781, 836, 847, 858, 869, 880, 891, 902, 924, 935, 968, 979, 990, 1001, 1012, 1034, 1056, 1067, 1100, 1111, 1122, 1133, 1243, 1254, 1265, 1287, 1298, 1353, 1364, 1375, 1386, 1397, 1419, 1430, 1463, 1496, 1507, 1518, 1529, 1540, 1551, 1562, 1584, 1639, 1661, 1672, 1683, 1705, 1727, 1738, 1749, 1771, 1793, 1848, 1870, 1881, 1892, 1914, 1925, 1947, 1969, 2002, 2024, 2035, 2057, 2079, 2123, 2134, 2145, 2156, 2200, 2211, 2222, 2244, 2255, 2266, 2299, 2310, 2321, 2332, 2354, 2376, 2398, 2420, 2431, 2453, 2464, 2475, 2508, 2519, 2574, 2585, 2640, 2651, 2662, 2673, 2717, 2761, 2772, 2805, 2827, 2849, 2882, 2893, 2904, 2937, 3025, 3036, 3047, 3058, 3102, 3124, 3135, 3157, 3168, 3179, 3190, 3212, 3223, 3234, 3256, 3300, 3311, 3333, 3344, 3355, 3366, 3377, 3388, 3421, 3443, 3465, 3476, 3487, 3498, 3509, 3520, 3531, 3542, 3564, 3575, 3619, 3630, 3652, 3663, 3685, 3696, 3707, 3751, 3762, 3784, 3795, 3817, 3839, 3861, 3872, 3927, 3938, 3949, 3960, 3971, 3993, 4004, 4015, 4048, 4070, 4081, 4114, 4136, 4147, 4158, 4169, 4180, 4213, 4224, 4279, 4301, 4334, 4345, 4356, 4378, 4389, 4400, 4433, 4444, 4455, 4499, 4510, 4521, 4532, 4543, 4554, 4565, 4576, 4587, 4609, 4631, 4642, 4664, 4675, 4686, 4719, 4741, 4763, 4774, 4785, 4796, 4829, 4840, 4851, 4873, 4884, 4895, 4906, 4917, 4928, 4939, 4950, 4961, 4983, 5005, 5016, 5038, 5049, 5071, 5082, 5093, 5115, 5126, 5137, 5148, 5159, 5181, 5214, 5236, 5247, 5269, 5291, 5302, 5324, 5335, 5379, 5390, 5401, 5412, 5423, 5445, 5456, 5467, 5478, 5500, 5533, 5544, 5577, 5588, 5599, 5610, 5632, 5643, 5665, 5676, 5687, 5709, 5731, 5742, 5764, 5786, 5841, 5852, 5863, 5874, 5885, 5896, 5907, 5918, 5940, 5973, 5995, 6006, 6017, 6039, 6072, 6083, 6127, 6138, 6149, 6160, 6171, 6182, 6204, 6215, 6226, 6237, 6259, 6270, 6281, 6314, 6347, 6369, 6380, 6413, 6424, 6446, 6468, 6490, 6534, 6545, 6556, 6611, 6633, 6644, 6699, 6710, 6743, 6754, 6765, 6776, 6809, 6820, 6842, 6875, 6886, 6897, 6930, 6941, 6952, 6963, 6985, 6996, 7007, 7018, 7029, 7084, 7117, 7150, 7172, 7183, 7238, 7249, 7260, 7271, 7293, 7315, 7326, 7337, 7370, 7381, 7403, 7425, 7447, 7458, 7469, 7491, 7513, 7535, 7546, 7557, 7612, 7645, 7667, 7678, 7700, 7711, 7722, 7744, 7755, 7777, 7810, 7832, 7854, 7865, 7876, 7887, 7909, 7964, 7975, 7997, 8019, 8030, 8096, 8107, 8118, 8129, 8173, 8184, 8195, 8217, 8239, 8294, 8305, 8327, 8338, 8349, 8360, 8371, 8382, 8404, 8415, 8448, 8470, 8503, 8514, 8547, 8569, 8624, 8646, 8657, 8690, 8701, 8734, 8745, 8756, 8767, 8844, 8888, 8899, 8910, 8932, 8954, 8965, 8976, 8987, 9064, 9075, 9097, 9108, 9119, 9163, 9185, 9207, 9218, 9229, 9251, 9262, 9317, 9328, 9339, 9361, 9383, 9394, 9427, 9438, 9493, 9504, 9515, 9526, 9537, 9548, 9570, 9592, 9636, 9647, 9658, 9691, 9702, 9735, 9757, 9768, 9779, 9790, 9823, 9834, 9867, 9878, 9889, 9933, 9955, 9966, 9977, 10032, 10043, 10054, 10065, 10076, 10109, 10131, 10142, 10153, 10175, 10186, 10197, 10208, 10241, 10263, 10274, 10285, 10307, 10329, 10351, 10362, 10373, 10384, 10406, 10428, 10450, 10461, 10494, 10516, 10571, 10582, 10626, 10637, 10648, 10692, 10703, 10714, 10725, 10747, 10769, 10791, 10802, 10813, 10824, 10846, 10857, 10868, 10879, 10912, 10923, 10934, 10945, 10956, 10978, 11000, 11011, 11022, 11033, 11044, 11066, 11099, 11121, 11154, 11165, 11176, 11187, 11198, 11209, 11220, 11242, 11253, 11264, 11275, 11319, 11330, 11341, 11352, 11374, 11407, 11418, 11440, 11462, 11473, 11484, 11495, 11506, 11517, 11528, 11550, 11583, 11616, 11627, 11660, 11693, 11704, 11715, 11759, 11770, 11792, 11803, 11814, 11825, 11847, 11891, 11902, 11913, 11924, 11935, 11946, 11957, 11968, 11979, 12012, 12045, 12056, 12067, 12111, 12166, 12177, 12199, 12210, 12221, 12243, 12254, 12265, 12276, 12287, 12331, 12342, 12353, 12375, 12397, 12419, 12430, 12441, 12452, 12474, 12485, 12496, 12518, 12529, 12540, 12551, 12573, 12628, 12650, 12705, 12760, 12771, 12782, 12793, 12804, 12826, 12837, 12848, 12859, 12870, 12914, 12958, 12969, 12980, 13002, 13013, 13024, 13101, 13145, 13156, 13178, 13211, 13222, 13233, 13277, 13310, 13332, 13354, 13365, 13376, 13398, 13409, 13420, 13431, 13442, 13453, 13464, 13475, 13486, 13497, 13508, 13519, 13530, 13541, 13563, 13574, 13618, 13629, 13640, 13662, 13684, 13695, 13728, 13739, 13772, 13783, 13794, 13805, 13816, 13838, 13849, 13871, 13893, 13904, 13948, 13970, 14025, 14036, 14047, 14058, 14069, 14102, 14113, 14124, 14135, 14168, 14179, 14201, 14212, 14223, 14234, 14289, 14300, 14322, 14333, 14366, 14377, 14399, 14432, 14465, 14476, 14487, 14509, 14520, 14531, 14564, 14575, 14597, 14619, 14630, 14663, 14674, 14707, 14740, 14762, 14784, 14795, 14806, 14817, 14839, 14872, 14883, 14894, 14916, 14938, 14949, 14960, 14982, 14993, 15015, 15048, 15059, 15070, 15103, 15114, 15125, 15136, 15147, 15180, 15191, 15202, 15213, 15257, 15268, 15290, 15323, 15378, 15389, 15422, 15433, 15488, 15499, 15510, 15521, 15576, 15587, 15620, 15697, 15708, 15719, 15730, 15774, 15796, 15851, 15862, 15895, 15906, 15928, 15939, 15950, 15972, 15994, 16016, 16049, 16093, 16104, 16115, 16170, 16247, 16258, 16280, 16302, 16313, 16324, 16335, 16357, 16368, 16401, 16412, 16423, 16445, 16489, 16500, 16522, 16544, 16599, 16610, 16643, 16654, 16665, 16687, 16709, 16731, 16753, 16786, 16797, 16819, 16830, 16896, 16907, 16918, 16973, 16995, 17006, 17017, 17028, 17039, 17072, 17105, 17127, 17138, 17160, 17171, 17193, 17215, 17259, 17336, 17369, 17424, 17446, 17490, 17512, 17534, 17545, 17556, 17567, 17600, 17611, 17622, 17644, 17655, 17666, 17677, 17688, 17710, 17721, 17754, 17787, 17798, 17809, 17820, 17831, 17842, 17864, 17886, 17919, 17930, 17963, 17974, 18007, 18018, 18029, 18040, 18062, 18095, 18106, 18117, 18128, 18172, 18183, 18216, 18227, 18260, 18271, 18282, 18337, 18348, 18370, 18403, 18414, 18436, 18480, 18491, 18524, 18546, 18568, 18601, 18612, 18623, 18634, 18667, 18700, 18711, 18722, 18755, 18777, 18788, 18799, 18832, 18854, 18865, 18876, 18898, 18920, 18942, 18953, 18964, 19008, 19030, 19052, 19074, 19085, 19151, 19184, 19217, 19239, 19250, 19261, 19283, 19294, 19316, 19360, 19382, 19393, 19404, 19415, 19470, 19481, 19503, 19514, 19525, 19536, 19558, 19569, 19580, 19602, 19613, 19624, 19635, 19646, 19657, 19668, 19690, 19734, 19745, 19756, 19789, 19800, 19833, 19844, 19855, 19877, 19899, 19943, 19976, 19987, 19998, 20009, 20020, 20031, 20042, 20075, 20097, 20119, 20152, 20207, 20229, 20240, 20284, 20306, 20317, 20350, 20405, 20427, 20438, 20460, 20482, 20493, 20526, 20537, 20548, 20570, 20603, 20636, 20647, 20658, 20669, 20680, 20702, 20713, 20724, 20746, 20757, 20768, 20801, 20812, 20823, 20834, 20845, 20878, 20900, 20922, 20933, 20966, 20988, 21010, 21087, 21098, 21109, 21131, 21153, 21164, 21208, 21219, 21230, 21241, 21285, 21296, 21307, 21351, 21362, 21384, 21428, 21439, 21461, 21483, 21494, 21516, 21538, 21560, 21571, 21593, 21604, 21615, 21626, 21637, 21648, 21659, 21703, 21725, 21758, 21780, 21791, 21802, 21846, 21857, 21868, 21879, 21912, 21967, 21978, 21989, 22044, 22055, 22077, 22099, 22110, 22132, 22154, 22187, 22198, 22220, 22231, 22253, 22264, 22308, 22319, 22341, 22352, 22363, 22374, 22385, 22407, 22429, 22440, 22462, 22473, 22484, 22528, 22539, 22550, 22561, 22583, 22660, 22671, 22682, 22693, 22704, 22737, 22759, 22814, 22825, 22836, 22891, 22924, 22946, 22957, 22968, 23001, 23012, 23034, 23045, 23067, 23100, 23111, 23144, 23155, 23166, 23199, 23210, 23221, 23232, 23254, 23287, 23309, 23331, 23397, 23408, 23419, 23441, 23474, 23529, 23551, 23562, 23573, 23584, 23595, 23628, 23639, 23661, 23672, 23694, 23705, 23716, 23749, 23793, 23837, 23870, 23881, 23892, 23914, 23969, 23980, 23991, 24002, 24046, 24057, 24068, 24079, 24123, 24134, 24156, 24167, 24222, 24244, 24266, 24277, 24288, 24321, 24343, 24354, 24365, 24376, 24398, 24420, 24442, 24464, 24497, 24530, 24541, 24563, 24585, 24607, 24618, 24629, 24640, 24662, 24717, 24750, 24783, 24816, 24827, 24838, 24882, 24893, 24904, 24915, 24937, 24948, 24959, 24981, 24992, 25003, 25014, 25036, 25058, 25091, 25102, 25201, 25212, 25223, 25234, 25300, 25311, 25322, 25344, 25355, 25377, 25432, 25487, 25531, 25542, 25575, 25619, 25641, 25652, 25663, 25674, 25685, 25751, 25795, 25806, 25828, 25839, 25850, 25861, 25872, 25894, 25905, 25960, 25982, 25993, 26048, 26158, 26202, 26213, 26224, 26235, 26279, 26312, 26334, 26356, 26400, 26411, 26433, 26510, 26521, 26543, 26576, 26598, 26609, 26664, 26708, 26719, 26741, 26752, 26785, 26796, 26818, 26862, 26873, 26884, 26950, 26994, 27005, 27038, 27060, 27115, 27170, 27181, 27192, 27203, 27236, 27247, 27269, 27280, 27302, 27346, 27412, 27445, 27456, 27489, 27500, 27533, 27588, 27610, 27643, 27654, 27665, 27687, 27698, 27709, 27720, 27731, 27742, 27753, 27764, 27775, 27786, 27797, 27819, 27830, 27863, 27874, 27907, 27951, 27973, 27984, 27995, 28050, 28061, 28072, 28138, 28149, 28160, 28171, 28193, 28204, 28215, 28226, 28237, 28248, 28259, 28270, 28303, 28336, 28347, 28391, 28402, 28468, 28512, 28523, 28556, 28567, 28578, 28589, 28600, 28611, 28622, 28699, 28721, 28732, 28743, 28754, 28765, 28798, 28809, 28820, 28897, 28908, 28919, 28952, 28996, 29007, 29018, 29029, 29040, 29051, 29073, 29084, 29128, 29139, 29150, 29216, 29249, 29271, 29315, 29370, 29381, 29414, 29425, 29458, 29535, 29568, 29590, 29601, 29612, 29623, 29634, 29645, 29678, 29689, 29711, 29722, 29744, 29799, 29810, 29832, 29865, 29876, 29887, 29898, 29909, 29953, 29964, 29975, 30008, 30019, 30030, 30052, 30074, 30107, 30140, 30151, 30173, 30228, 30239, 30272, 30283, 30360, 30415, 30459, 30492, 30503, 30514, 30525, 30547, 30558, 30569, 30591, 30602, 30624, 30668, 30679, 30712, 30800, 30833, 30844, 30866, 30877, 30888, 30899, 31009, 31020, 31086, 31108, 31119, 31141, 31163, 31196, 31218, 31229, 31240, 31251, 31295, 31306, 31328, 31361, 31372, 31416, 31438, 31449, 31471, 31504, 31515, 31614, 31625, 31680, 31691, 31702, 31713, 31779, 31812, 31823, 31834, 31867, 31900, 31933, 31944, 31977, 31988, 32054, 32098, 32109, 32131, 32142, 32164, 32186, 32241, 32252, 32285, 32340, 32351, 32384, 32406, 32461, 32505, 32516, 32538, 32549, 32560, 32593, 32604, 32659, 32692, 32714, 32725, 32758, 32769, 32791, 32879, 32890, 32934, 32978, 32989, 33011, 33022, 33044, 33077, 33088, 33099, 33110, 33154, 33165, 33187, 33209, 33220, 33231, 33242, 33264, 33275, 33297, 33308, 33352, 33363, 33418, 33440, 33473, 33506, 33528, 33539, 33550, 33561, 33572, 33583, 33605, 33649, 33660, 33682, 33693, 33726, 33737, 33759, 33770, 33781, 33792, 33836, 33880, 33891, 33913, 33924, 33946, 33957, 33979, 34023, 34045, 34056, 34067, 34078, 34089, 34100, 34111, 34122, 34144, 34166, 34199, 34254, 34287, 34331, 34353, 34375, 34397, 34419, 34496, 34507, 34518, 34551, 34562, 34573, 34606, 34628, 34639, 34650, 34661, 34683, 34694, 34705, 34727, 34771, 34793, 34804, 34826, 34837, 34859, 34870, 34903, 34914, 34925, 34936, 34947, 34969, 34980, 35002, 35013, 35024, 35057, 35123, 35145, 35244, 35266, 35277, 35299, 35321, 35343, 35354, 35365, 35398])

In [73]:
dict_test_user_phase_action[0][11]

{'item_seq': [88058,
  66082,
  29755,
  78804,
  43074,
  75757,
  23323,
  22113,
  20317,
  64689,
  28210,
  8052,
  -999],
 'time_seq': [0.9837398543195056,
  0.9837403218074372,
  0.9837406845679778,
  0.9837699287455526,
  0.9838303091335048,
  0.983830314180608,
  0.9838681668235364,
  0.9838682015223708,
  0.9838683989902826,
  0.9838684431524354,
  0.9838684967779068,
  0.9838685327385168,
  0.9838685415709472],
 'diff_time_seq': [0.004674879315880176,
  0.00362760540606466,
  0.29244177574772046,
  0.6038038795219691,
  5.047103179833812e-05,
  0.37852642928437596,
  0.00034698834361357456,
  0.001974679117999756,
  0.0004416215282354585,
  0.0005362547139675655,
  0.00035960610045293606,
  8.832430342664566e-05]}

## 用户画像数据处理

In [74]:
underexpose_user_feat.head()

   user_id  user_age_level user_gender  user_city_level
0       17             8.0           M              4.0
1       26             7.0           M              2.0
2       35             6.0           F              4.0
3       40             6.0           M              1.0
4       49             6.0           M              1.0

In [75]:
def deal_user_feat_data(user_feat_data):
    user_feat_data = user_feat_data.fillna(-1)
    dict_user_feat = {}
    dict_user_age_level, index_user_age_level = {}, 0
    dict_user_gender, index_user_gender = {}, 0
    dict_user_city_level, index_user_city_level = {}, 0
    for i,row in tqdm(user_feat_data.iterrows()):
        user_id, user_age_level, user_gender, user_city_level = int(row["user_id"]), int(row["user_age_level"]), row["user_gender"], int(row["user_city_level"])
        if user_id not in dict_user_feat:
            dict_user_feat[user_id] = {}
        if user_age_level not in dict_user_age_level:
            dict_user_age_level[user_age_level] = index_user_age_level
            index_user_age_level += 1
        if user_gender not in dict_user_gender:
            dict_user_gender[user_gender] = index_user_gender
            index_user_gender += 1
        if user_city_level not in dict_user_city_level:
            dict_user_city_level[user_city_level] = index_user_city_level
            index_user_city_level += 1
        dict_user_feat[user_id]["user_age_level"] = dict_user_age_level[user_age_level]
        dict_user_feat[user_id]["user_gender"] = dict_user_gender[user_gender]
        dict_user_feat[user_id]["user_city_level"] = dict_user_city_level[user_city_level]
    return dict_user_feat, dict_user_age_level, dict_user_gender, dict_user_city_level

In [76]:
dict_user_feat, dict_user_age_level, dict_user_gender, dict_user_city_level = deal_user_feat_data(underexpose_user_feat)

6789it [00:01, 5230.74it/s]

In [77]:
dict_user_feat[17]

{'user_age_level': 0, 'user_gender': 0, 'user_city_level': 0}

In [78]:
dict_user_age_level

{8: 0, 7: 1, 6: 2, 5: 3, 4: 4, -1: 5, 2: 6, 3: 7, 1: 8}

In [79]:
dict_user_gender

{'M': 0, 'F': 1, -1: 2}

In [80]:
dict_user_city_level

{4: 0, 2: 1, 1: 2, 6: 3, -1: 4, 3: 5, 5: 6}

## 商品画像数据处理

In [81]:
underexpose_item_feat.head()

,item_id,txt_vec,img_vec
0,42844,"4.514945030212402, -2.3837196826934814, 0.5004...","-2.8722801208496094, 1.4587551355361938, 2.579..."
1,67898,"-2.0029051303863525, -0.9298805594444275, 0.79...","-0.07052088528871536, -1.4393335580825806, 0.7..."
2,66446,"4.221673011779785, -1.4971394538879395, 1.1335...","-5.18036413192749, -0.38824713230133057, -0.03..."
3,63651,"2.6579699516296387, -0.941863477230072, 1.1215...","-1.077273964881897, 2.8394529819488525, 1.1834..."
4,46824,"3.192194938659668, -1.9366759061813354, 1.1999...","-3.2601945400238037, 0.49889034032821655, 2.58..."

In [82]:
def deal_item_feat_data(item_feat_data):
    dict_item_feat = {}
    for i,row in tqdm(item_feat_data.iterrows()):    
        item_id, txt_vec, img_vec = int(row["item_id"]), [float(x_) for x_ in row["txt_vec"].split(",")], [float(x_) for x_ in row["img_vec"].split(",")]   
        if item_id not in dict_item_feat:
            dict_item_feat[item_id] = {}
        dict_item_feat[item_id]["txt_vec"] = txt_vec
        dict_item_feat[item_id]["img_vec"] = img_vec
    return dict_item_feat

In [83]:
dict_item_feat = deal_item_feat_data(underexpose_item_feat)

108916it [00:40, 2710.38it/s]

In [84]:
dict_item_feat[1]

{'txt_vec': [1.7666375637054443,
  -2.346564292907715,
  -2.6982970237731934,
  -2.2688496112823486,
  -0.512924313545227,
  0.383025586605072,
  1.5153915882110596,
  -1.793656587600708,
  -3.375066041946411,
  -1.7356140613555908,
  -1.4488118886947632,
  0.37305888533592224,
  1.2421644926071167,
  0.20273008942604065,
  0.1523425132036209,
  -4.863239288330078,
  0.7611547708511353,
  0.4133894741535187,
  -0.02597382664680481,
  1.3881211280822754,
  0.908719539642334,
  0.4326136112213135,
  2.819796562194824,
  -0.11872899532318115,
  1.759788990020752,
  -2.130720853805542,
  -0.9828834533691406,
  -1.3969204425811768,
  -0.46778756380081177,
  -0.2125086784362793,
  -2.6478614807128906,
  1.8164061307907104,
  0.4256328344345093,
  -0.5654808282852173,
  -2.3022749423980713,
  -1.1511421203613281,
  -0.6566124558448792,
  -1.961538553237915,
  -0.14991673827171326,
  -0.02903914451599121,
  -0.543321430683136,
  0.7845445871353149,
  -1.0764912366867065,
  3.1454033851623535,
  -1.6029587984085083,
  -1.1262439489364624,
  2.0407021045684814,
  4.229191303253174,
  0.7757853269577026,
  0.6068161129951477,
  -3.7516536712646484,
  -1.2940216064453125,
  -0.32737523317337036,
  -0.7134799957275391,
  0.5541882514953613,
  1.3570427894592285,
  -0.49048036336898804,
  4.998167037963867,
  1.2464888095855713,
  -1.0878782272338867,
  -1.9876773357391357,
  1.5843586921691895,
  -0.4353233873844147,
  1.227582573890686,
  -0.4775536060333252,
  1.0094351768493652,
  -0.8001195192337036,
  0.4490676522254944,
  0.9085069894790649,
  -0.44597262144088745,
  1.7541694641113281,
  -0.21844851970672607,
  0.6172528862953186,
  -0.5292344689369202,
  -3.264615058898926,
  -4.009411334991455,
  -2.806208610534668,
  -0.475618839263916,
  -3.6112618446350098,
  2.445284366607666,
  -1.0434340238571167,
  4.746551513671875,
  -2.4151358604431152,
  1.3831803798675537,
  0.5256510972976685,
  -2.1475656032562256,
  -0.46499720215797424,
  1.1762669086456299,
  -1.2789623737335205,
  -1.7059555053710938,
  0.07198259234428406,
  1.2507832050323486,
  0.5067065954208374,
  -1.8587450981140137,
  0.6728061437606812,
  -0.3553043007850647,
  -3.033071279525757,
  1.6960692405700684,
  1.8893039226531982,
  -1.7152862548828125,
  -0.2571159601211548,
  -2.2712242603302,
  0.25638601183891296,
  1.5514806509017944,
  -0.8501389026641846,
  -1.1019796133041382,
  1.4024394750595093,
  -1.0746984481811523,
  -0.3062349855899811,
  -0.256767600774765,
  -3.0336852073669434,
  2.2182087898254395,
  2.641333818435669,
  1.1228187084197998,
  2.4037299156188965,
  -0.31008923053741455,
  -0.24036157131195068,
  4.105828762054443,
  -0.5597924590110779,
  1.2652665376663208,
  1.8525701761245728,
  -2.210692882537842,
  -3.0834779739379883,
  -0.3425610661506653,
  -1.9290387630462646,
  -2.0315005779266357,
  0.6436665058135986,
  1.9442715644836426],
 'img_vec': [-0.29260289669036865,
  1.6998257637023926,
  -0.8043385744094849,
  -2.4441514015197754,
  2.9275805950164795,
  -1.520246148109436,
  -1.8748328685760498,
  -2.768303394317627,
  0.3532502055168152,
  -0.9273422360420227,
  1.4537396430969238,
  -0.5792363286018372,
  -2.487691879272461,
  3.7423808574676514,
  -2.5287790298461914,
  2.6536266803741455,
  -3.3165621757507324,
  -1.4544062614440918,
  -0.6305550336837769,
  -2.623734951019287,
  2.040332317352295,
  -0.24203693866729736,
  -2.0247318744659424,
  -2.1834404468536377,
  -0.9016563296318054,
  -0.9289847016334534,
  0.9237385988235474,
  -0.08733201026916504,
  0.6086347103118896,
  -1.0146448612213135,
  2.2525599002838135,
  1.4858067035675049,
  -2.1115615367889404,
  -2.1330556869506836,
  -0.07216933369636536,
  -5.023961067199707,
  -3.0610246658325195,
  2.7852120399475098,
  2.062836170196533,
  -2.265406608581543,
  3.234431266784668,
  -2.0262699127197266,
  -2.5052497386932373,
  1.5663436651229858,
  1.0240973234176636,
  0.7972100973129272,
  -0.5179876685142517,
  -1.0237501859664917,
  1.9124395847320557,
  -3.7776360511779785,
  3.7150416374206543,
  -2.002011775970459,
  3.0076534748077393,
  -0.758434534072876,
  4.758275985717773,
  -2.4231643676757812,
  0.10935854911804199,
  -0.26437175273895264,
  1.0148534774780273,
  0.4498378038406372,
  -1.353919267654419,
  -0.6302188038825989,
  -1.0730692148208618,
  -2.4352893829345703,
  -1.4483344554901123,
  0.769179105758667,
  -0.9925645589828491,
  0.13988345861434937,
  -1.6225628852844238,
  2.7623276710510254,
  -2.957061529159546,
  1.7373602390289307,
  0.9543311595916748,
  -1.6362848281860352,
  0.22351759672164917,
  0.3190009593963623,
  -0.6104225516319275,
  -2.16640305519104,
  1.5561795234680176,
  -1.7489851713180542,
  -0.46624577045440674,
  -0.6222776174545288,
  -0.5310858488082886,
  -1.157242774963379,
  0.5531723499298096,
  -3.4686217308044434,
  2.170647621154785,
  -0.5631227493286133,
  3.949146032333374,
  -1.404654860496521,
  -1.2497498989105225,
  -0.0786430686712265,
  0.16803377866744995,
  -1.9873435497283936,
  3.2312071323394775,
  0.251852810382843,
  -2.1119208335876465,
  -0.6846374273300171,
  0.4167931079864502,
  0.8831769227981567,
  3.3032729625701904,
  1.4185552597045898,
  0.7754594087600708,
  -0.38045257329940796,
  2.2515881061553955,
  2.607100009918213,
  3.0325233936309814,
  -0.9165595769882202,
  -2.4852590560913086,
  -2.6953835487365723,
  2.096130132675171,
  0.9237862825393677,
  1.8017417192459106,
  -0.4177505373954773,
  1.4858973026275635,
  -0.4922475218772888,
  -1.013980746269226,
  1.2460204362869263,
  2.4903695583343506,
  -2.661857843399048,
  1.2282228469848633,
  2.038147449493408,
  -1.1337909698486328,
  -0.19425886869430542,
  1.5561858415603638,
  3.609055995941162,
  -0.7044529318809509,
  -0.29612624645233154]}

# id 转化为embeeding特征

## user_id, item_id 特征

In [85]:
def get_node_user_item(underexpose_train_click, underexpose_test_click):
    list_user_id = []
    list_item_id = []
    list_index_user_id = []
    list_index_item_id = []
    list_score = []
    index_user_id = 0
    index_item_id = 0
    dict_user_id = {}
    dict_item_id = {}
    list_underexpose_click = [underexpose_train_click, underexpose_test_click]
    for underexpose_click in list_underexpose_click:
        for i,row in tqdm(underexpose_click.iterrows()):
            user_id, item_id, time, phase = int(row["user_id"]), int(row["item_id"]), float(row["time"]), int(row["phase"])
            if item_id > 0:
                list_user_id.append(user_id)
                list_item_id.append(item_id)
                list_score.append(1)
                if user_id not in dict_user_id:
                    dict_user_id[user_id] = index_user_id
                    index_user_id += 1
                list_index_user_id.append(dict_user_id[user_id])
                if item_id not in dict_item_id:
                    dict_item_id[item_id] = index_item_id
                    index_item_id += 1
                list_index_item_id.append(dict_item_id[item_id])
    node_user_item = pd.DataFrame({"user_id":list_user_id, "item_id":list_item_id, "score":list_score, "index_user_id":list_index_user_id, "index_item_id":list_index_item_id})
    node_user_item = node_user_item.groupby(["user_id", "item_id", "index_user_id", "index_item_id"])["score"].sum().reset_index()
    node_user_item.columns = ["user_id", "item_id", "index_user_id", "index_item_id", "score"]
    return node_user_item, dict_user_id, dict_item_id

In [86]:
node_user_item, dict_user_id, dict_item_id = get_node_user_item(underexpose_train_click, underexpose_test_click)

1258742it [03:09, 6633.45it/s]
127295it [00:19, 6637.56it/s]

### 探索数据

In [87]:
node_user_item.index_user_id.min()

0

In [88]:
node_user_item.index_user_id.max()

27767

In [89]:
node_user_item.index_item_id.min()

0

In [90]:
node_user_item.index_item_id.max()

80749

### underexpose_user_feat 用户画像只覆盖部分用户

训练集中有的用户 和 用户画像 共有

In [91]:
len((set(underexpose_test_click.user_id.astype(str)) |
    set(underexpose_train_click.user_id.astype(str)))
    & set(underexpose_user_feat.user_id.astype(str)))

5617

训练集中有的用户 有 和 用户画像 没有

In [92]:
len((set(underexpose_test_click.user_id.astype(str)) |
    set(underexpose_train_click.user_id.astype(str))) 
    - set(underexpose_user_feat.user_id.astype(str)))

22151

训练集中有的用户 没有 和 用户画像 有

In [93]:
len(set(underexpose_user_feat.user_id.astype(str)) 
    - (set(underexpose_test_click.user_id.astype(str)) |
    set(underexpose_train_click.user_id.astype(str))))

1169

### underexpose_item_feat 商品画像只覆盖部分商品

训练集中有的商品 和 商品画像 共有

In [94]:
len((set(underexpose_test_click.item_id.astype(str)) |
    set(underexpose_train_click.item_id.astype(str)))
    & set(underexpose_item_feat.item_id.astype(str)))

75387

训练集中有的商品 有 和 商品画像 没有

In [95]:
len((set(underexpose_test_click.item_id.astype(str)) |
    set(underexpose_train_click.item_id.astype(str))) 
    - set(underexpose_item_feat.item_id.astype(str)))

5364

训练集中有的商品 没有 和 商品画像 有

In [96]:
len(set(underexpose_item_feat.item_id.astype(str)) 
    - (set(underexpose_test_click.item_id.astype(str)) |
    set(underexpose_train_click.item_id.astype(str))))

33529

# 导入tensorflow

In [97]:
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()

WARNING:tensorflow:From /usr/local/anaconda3/lib/python3.6/site-packages/tensorflow_core/python/compat/v2_compat.py:68: disable_resource_variables (from tensorflow.python.ops.variable_scope) is deprecated and will be removed in a future version.
Instructions for updating:
non-resource variables are not supported in the long term

## 矩阵分解 图算法 Word2Vec FM

## 矩阵分解

In [98]:
class Decompose:
    def __init__(self
                 ,size_user_id
                 ,size_item_id
                 ,embedding_size
                 ,learning_rate
                ):
        self.size_user_id = size_user_id+1
        self.size_item_id = size_item_id+1
        self.embedding_size = 128
        self.learning_rate = learning_rate
        self.model()
        self.sess = tf.InteractiveSession()
        self.saver = tf.train.Saver()

    def model(self):
        self.input_user_id = tf.placeholder(dtype=tf.int32, shape=[None])
        self.input_item_id = tf.placeholder(dtype=tf.int32, shape=[None])
        self.input_score = tf.placeholder(dtype=tf.float32, shape=[None])

        self.variable_user_id = tf.Variable(tf.random_uniform([self.size_user_id, self.embedding_size], -1.0, 1.0), name="variable_user_id")
        self.variable_item_id = tf.Variable(tf.random_uniform([self.size_item_id, self.embedding_size], -1.0, 1.0), name="variable_item_id")

        self.embeeding_user_id = tf.nn.embedding_lookup(self.variable_user_id, self.input_user_id)
        self.embeeding_item_id = tf.nn.embedding_lookup(self.variable_item_id, self.input_item_id)

        self.output_score = tf.reduce_sum(self.embeeding_user_id * self.embeeding_item_id, axis=1)
        self.loss = tf.reduce_mean((self.input_score-self.output_score) ** 2)

        self.optimizer = tf.train.GradientDescentOptimizer(self.learning_rate).minimize(self.loss)

    def initializer(self):
        self.sess.run(tf.global_variables_initializer())
        
    def train(self, feed_dict):
        return self.sess.run([self.loss, self.optimizer], feed_dict)
        
    def loss(self, feed_dict):
        return self.sess.run(self.loss, feed_dict)

    def get_embeeding_user_id(self, feed_dict):
        return self.sess.run(self.embeeding_user_id, feed_dict)
        
    def get_embeeding_item_id(self, feed_dict):
        return self.sess.run(self.embeeding_item_id, feed_dict)
        
    def save(self, model_name):
        self.saver.save(self.sess, "./tf_model/"+model_name)
    
    def load(self, model_name):
        self.saver.restore(self.sess, "./tf_model/"+model_name)

In [99]:
size_user_id = node_user_item.index_user_id.max()
size_item_id = node_user_item.index_item_id.max()
embedding_size = 128
learning_rate = 0.03

In [100]:
decompose = Decompose(
                  size_user_id=size_user_id
                 ,size_item_id=size_item_id
                 ,embedding_size=embedding_size
                 ,learning_rate=learning_rate
                )
decompose.initializer()

WARNING:tensorflow:From /usr/local/anaconda3/lib/python3.6/site-packages/tensorflow_core/python/ops/math_grad.py:1375: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [101]:
decompose.load("decompose.model05")

INFO:tensorflow:Restoring parameters from ./tf_model/decompose.model05

In [102]:
node_user_item.head()

   user_id  item_id  index_user_id  index_item_id  score
0        1     2945           2690          34274      1
1        1     4033           2690          27709      2
2        1     4889           2690            230      1
3        1    13025           2690          11384      3
4        1    13905           2690          69354      1

In [103]:
set_index_user_id = set(node_user_item["index_user_id"])
set_index_item_id = set(node_user_item["index_item_id"])
# set_index_user_id_item_id = set([str(index_user_id)+"-"+str(index_item_id) for (index_user_id, index_item_id) in zip(node_user_item["index_user_id"], node_user_item["index_item_id"])])
set_index_user_id_index_item_id = set(zip(node_user_item["index_user_id"], node_user_item["index_item_id"]))

In [104]:
# (17811, 732) in set_index_user_id_item_id

In [105]:
import random

In [106]:
size_item_id

80749

In [107]:
size_user_id

27767

In [108]:
random.sample(set_index_item_id, 5)

[49755, 43343, 46745, 404, 37539]

In [109]:
sample_num = 5
epoch_num = 10

In [110]:
len(set_index_user_id_index_item_id)

675361

In [111]:
index = 0
n = 1000
# max_index = 1000

In [112]:
log_file = open('./temp/log/decompose.log','w')

In [ ]:
for epoch in tqdm(range(epoch_num)):
    for (index_user_id, index_item_id) in set_index_user_id_index_item_id:
        list_input_user_id = []
        list_input_item_id = []
        list_input_score = []

        list_input_user_id.append(index_user_id)
        list_input_item_id.append(index_item_id)
        list_input_score.append(1)

        for sample_index_item_id in random.sample(set_index_item_id, sample_num):
            if (index_item_id, sample_index_item_id) not in set_index_user_id_index_item_id:
                list_input_user_id.append(index_user_id)
                list_input_item_id.append(sample_index_item_id)
                list_input_score.append(0)

        for sample_index_user_id in random.sample(set_index_user_id, sample_num):
            if (sample_index_user_id, index_item_id) not in set_index_user_id_index_item_id:
                list_input_user_id.append(sample_index_user_id)
                list_input_item_id.append(index_item_id)
                list_input_score.append(0)   

        feed_dict = {
            decompose.input_user_id:list_input_user_id,
            decompose.input_item_id:list_input_item_id,
            decompose.input_score:list_input_score
        }
        loss, optimizer = decompose.train(feed_dict)
        index += 1
        if index % n == 0:
            log_file.write("epoch : " + str(epoch) +", index : " + str(index) + ", loss :" + str(loss) + "\n")
            log_file.flush()
# decompose.save("decompose.model")

  0%|          | 0/10 [00:00<?, ?it/s]

 10%|█         | 1/10 [27:05<4:03:46, 1625.21s/it]

 20%|██        | 2/10 [54:06<3:36:31, 1623.97s/it]

 30%|███       | 3/10 [1:21:03<3:09:13, 1621.92s/it]

 40%|████      | 4/10 [1:48:06<2:42:14, 1622.40s/it]

 50%|█████     | 5/10 [2:15:15<2:15:21, 1624.34s/it]

In [124]:
for epoch in tqdm(range(1)):
    for (index_user_id, index_item_id) in random.sample(set_index_user_id_index_item_id, 20):
        list_input_user_id = []
        list_input_item_id = []
        list_input_score = []

#         list_input_user_id.append(index_user_id)
#         list_input_item_id.append(index_item_id)
#         list_input_score.append(1)

        for sample_index_item_id in random.sample(set_index_item_id, sample_num):
            if (index_item_id, sample_index_item_id) not in set_index_user_id_index_item_id:
                list_input_user_id.append(index_user_id)
                list_input_item_id.append(sample_index_item_id)
                list_input_score.append(0)

        for sample_index_user_id in random.sample(set_index_user_id, sample_num):
            if (sample_index_user_id, index_item_id) not in set_index_user_id_index_item_id:
                list_input_user_id.append(sample_index_user_id)
                list_input_item_id.append(index_item_id)
                list_input_score.append(0)   

        feed_dict = {
            decompose.input_user_id:list_input_user_id,
            decompose.input_item_id:list_input_item_id,
            decompose.input_score:list_input_score
        }
        print(list_input_score)
        loss, optimizer = decompose.train(feed_dict)
        print(loss)
        
        list_input_user_id = []
        list_input_item_id = []
        list_input_score = []
        
        list_input_user_id.append(index_user_id)
        list_input_item_id.append(index_item_id)
        list_input_score.append(1)
        
        feed_dict = {
            decompose.input_user_id:list_input_user_id,
            decompose.input_item_id:list_input_item_id,
            decompose.input_score:list_input_score
        }
        print(list_input_score)
        loss, optimizer = decompose.train(feed_dict)
        print(loss)  

#         index += 1
        
#         if index > 20:
#             break
#         if index % n == 0:
#             log_file.write("epoch : " + str(epoch) +", index : " + str(index) + ", loss :" + str(loss) + "\n")
#             log_file.flush()
#         break

100%|██████████| 1/1 [00:00<00:00,  9.55it/s]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
0.028537944
[1]
0.32805237
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
0.02141049
[1]
0.47899142
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
0.037932485
[1]
0.7499018
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
0.009750263
[1]
0.44788417
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
0.003022074
[1]
0.88115615
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
0.22445157
[1]
0.17618969
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
0.016753675
[1]
0.91306525
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
0.015746335
[1]
0.4693376
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
0.02001405
[1]
1.0866144
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
0.04383972
[1]
0.2560113
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
0.07873188
[1]
0.26247963
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
0.060424972
[1]
0.37028676
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
0.019060358
[1]
0.262583
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
0.060069013
[1]
0.4752728
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
0.10537334
[1]
0.43265876
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
0.08917895
[1]
0.66738594
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
0.020465726
[1]
1.1748208
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
0.109679505
[1]
0.4367585
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
0.019452393
[1]
0.51244235
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
0.037813876
[1]
0.5598593

In [6]:
# decompose.save("decompose.model05")

In [132]:
# decompose.save("decompose.model")

In [127]:
# user_id	item_id	index_user_id	index_item_id	score

## 抽取user_id的embeeding

In [125]:
dict_index_user_id_to_user_id = dict(zip(node_user_item.index_user_id,node_user_item.user_id))
dict_user_id_embeeding = {}
for index_user_id in set_index_user_id:
    user_id_embeeding = decompose.get_embeeding_user_id(feed_dict={decompose.input_user_id:[index_user_id]})
    dict_user_id_embeeding[dict_index_user_id_to_user_id[index_user_id]] = user_id_embeeding[0]

In [140]:
def save_embeeding(dict_embeeding, file_name):
    with open(file_name,'w') as f:
        for k in tqdm(dict_embeeding.keys()):
            embeeding = ','.join([str(x_) for x_ in dict_embeeding[k]])
            f.write(str(k)+','+embeeding+'\n')

In [148]:
# dict_user_id_embeeding[11]

In [141]:
save_embeeding(dict_user_id_embeeding, './embeeding/embeeding_user_id.txt')

100%|██████████| 27768/27768 [00:02<00:00, 9307.60it/s]

In [ ]:
# dict_user_id_embeeding.

## 抽取item_id的embeeding

In [126]:
dict_index_item_id_to_item_id = dict(zip(node_user_item.index_item_id,node_user_item.item_id))
dict_item_id_embeeding = {}
for index_item_id in set_index_item_id:
    item_id_embeeding = decompose.get_embeeding_item_id(feed_dict={decompose.input_item_id:[index_item_id]})
    dict_item_id_embeeding[dict_index_item_id_to_item_id[index_item_id]] = item_id_embeeding[0]

In [142]:
save_embeeding(dict_item_id_embeeding, './embeeding/embeeding_item_id.txt')

100%|██████████| 80750/80750 [00:08<00:00, 9820.62it/s]

In [144]:
# !head ./embeeding/embeeding_item_id.txt

In [146]:
# !head ./embeeding/embeeding_user_id.txt

In [385]:
dict_item_id_embeeding[18]

array([ 0.22423042, -0.48210767,  0.03356946, -0.2707985 ,  0.71050435,
        0.5813222 , -0.63212526, -0.71332717,  0.9757393 ,  0.9462941 ,
        0.33033386,  0.42129427, -0.89298475, -0.32238966,  0.81082964,
       -0.22686806, -0.5692448 , -0.12806395, -0.12523845,  0.8524612 ,
       -0.7545183 ,  0.5430359 ,  0.5622592 , -0.91083425,  0.15164876,
        0.5167875 , -0.2465704 ,  0.8317903 ,  0.14422846,  0.03996215,
        0.17206806, -0.01892105,  0.1896569 , -0.06329364,  0.8350614 ,
        0.36291176, -0.17493013,  0.44389015, -0.44197845, -0.5244715 ,
        0.50322056,  0.49054083, -0.4627979 , -0.27405587,  0.86015046,
        0.3172751 , -0.9939518 ,  0.907597  , -0.87493664,  0.87205595,
        0.46418846,  0.30480447,  0.23628038, -0.50080645,  0.7452698 ,
        0.89948875, -0.6510336 , -0.65512246, -0.611752  ,  0.6525644 ,
       -0.0432893 ,  0.5810238 ,  0.17970225, -0.8471599 , -0.14836255,
       -0.6481957 , -1.0244323 ,  0.42420533,  0.01275021, -0.13910776,
       -0.95904183,  0.1079789 ,  0.30481425,  0.7857774 ,  0.9692663 ,
       -0.91225284,  0.8060491 , -0.45829585, -0.22024938,  0.21264152,
       -0.41679278, -0.9360248 , -0.6798754 ,  0.85312563, -0.22749682,
       -0.4261685 ,  0.5009478 ,  0.24579942,  0.6776858 ,  0.07109351,
       -0.8596714 ,  0.97401017, -0.14079444,  0.5771637 ,  0.15697059,
       -0.49517477,  0.19925079, -0.33922252,  0.44870594,  0.4972781 ,
        0.16338067,  0.68264794, -0.22472468, -0.45754465,  0.8306538 ,
       -0.8424587 , -0.2841226 , -0.2914614 ,  0.9480295 ,  0.30593687,
        0.67436934, -0.7515283 ,  0.0934618 , -0.38608631,  0.82299256,
        0.30820873, -0.18415289,  0.01242989, -0.80260426,  0.33783048,
        0.6383861 ,  0.55375165,  0.31882343, -0.68458503,  0.76263183,
       -0.50274444,  0.43653813,  0.97527945], dtype=float32)

In [127]:
node_user_item.head()

   user_id  item_id  index_user_id  index_item_id  score
0        1     2945           2690          34274      1
1        1     4033           2690          27709      2
2        1     4889           2690            230      1
3        1    13025           2690          11384      3
4        1    13905           2690          69354      1

In [129]:
node_user_item.sample(10)

        user_id  item_id  index_user_id  index_item_id  score
429453    20650    48353           2023          13086      2
263802    12510    43347          10009          58047      2
160188     7492    69936           6424           8599      5
337380    16062    37410            458          12541      3
551605    27574    86897          25629          18529      1
327355    15586    22232          12622          19924      5
634841    32585    31057          21402          12251      3
278677    13202    70657           3688           3331      2
401321    19249    63073           6641           8297      2
186936     8738   104777           2785          15622      2

In [137]:
for i, row in node_user_item.sample(30).iterrows():
    item_id = int(row["item_id"])
    user_id = int(row["user_id"])
    score1 = np.sum(dict_user_id_embeeding[user_id] * dict_item_id_embeeding[item_id])
    
    sample_item_id = int(node_user_item.sample(1)["item_id"].values)
    score2 = np.sum(dict_user_id_embeeding[user_id] * dict_item_id_embeeding[sample_item_id])
    
    sample_user_id = int(node_user_item.sample(1)["user_id"].values)
    score3 = np.sum(dict_user_id_embeeding[sample_user_id] * dict_item_id_embeeding[item_id])
    
    print(score1, score2, score3, np.argmax([score1, score2, score3]))

0.039954983 0.06756872 -0.13646513 1
0.60770893 -0.77115715 -0.38425344 0
0.28175172 0.051564194 0.14642006 0
0.21868186 -0.026494019 0.24998271 2
0.124357246 0.039601605 0.07593032 0
0.5851779 -0.20119143 0.23536117 0
0.028369188 0.122490406 0.0885307 1
0.091449656 -0.38283908 0.44612423 2
0.6951151 0.17682777 0.18527643 0
0.045028355 -0.18965477 0.015358195 0
0.47572237 -0.2103323 0.006198691 0
0.2610441 0.25985092 0.42297047 2
0.6199084 -0.22035187 0.04708599 0
0.8106548 0.07214417 0.24135303 0
0.52062947 0.27946573 0.23923679 0
0.43764973 0.16646586 -0.16958039 0
0.3991322 0.22394836 -0.017680183 0
0.062204704 -0.080377795 -0.057120785 0
0.37051556 -0.055702187 -0.1213292 0
0.20260581 -0.08727529 0.10290846 0
0.3154003 -0.12285087 0.03528142 0
0.45935506 0.02821356 0.017090023 0
0.35136175 -0.06652072 -0.27884293 0
0.3423479 0.008867964 0.040967956 0
0.33288217 -0.026414374 -0.042339604 0
0.37810034 -0.14853016 -0.30967206 0
0.6189983 0.046057142 0.24926764 0
0.39024165 0.16981459 0.28192097 0
0.09658224 -0.07311323 0.026791263 0
0.59084046 0.03619954 -0.12401047 0

In [138]:
# 保存 用户 和 商品特征

## LINE 分解

In [371]:
# !./tool/LINE-master/linux/line

In [352]:
# !ls "./line_model/"

In [353]:
# node_user_item[["item_id","user_id","score"]].to_csv("./line_model/net.txt")

In [361]:
# !./tool/LINE-master/linux/line -train ./line_model/net.txt -output ./line_model/vec.txt -binary 1 -size 200 -order 2 -negative 5 -samples 100 -rho 0.025

In [320]:
# decompose.load("decompose.model")

In [362]:
# !ls ./line_model/

## 深度学习Baseline

# 建模

构建训练数据

In [386]:
underexpose_train_click.head()

   user_id  item_id      time  phase
0     4965       18  0.983763      0
1    20192       34  0.983772      0
2    30128       91  0.983780      0
3    29473      189  0.983930      0
4    10625      225  0.983925      0

In [391]:
dict_train_user_phase_action[0][1]

{'diff_time_seq': [0.15036582135641297,
  0.06781414004120023,
  0.06995285001254459,
  0.19074264676177677,
  0.00020819300394769868,
  0.8595342885475699,
  0.016434629716011173,
  0.09419787189268725,
  0.0009589496041684242,
  0.0030724240551727178,
  0.0671453988720927,
  0.4826923299483532],
 'item_seq': [78142,
  26646,
  89568,
  76240,
  87533,
  78380,
  85492,
  97795,
  18522,
  47611,
  31443,
  17887,
  69359],
 'time_seq': [0.9837416195438412,
  0.9837566561259768,
  0.983763437539981,
  0.9837704328249822,
  0.9837895070896584,
  0.9837895279089588,
  0.9838754813378136,
  0.9838771248007852,
  0.9838865445879744,
  0.9838866404829348,
  0.9838869477253404,
  0.9838936622652276,
  0.9839419314982224]}

In [394]:
underexpose_test_click.head()

   user_id  item_id      time  phase
0     1133      221  0.983812      0
1    17864      253  0.983783      0
2     6941      309  0.983785      0
3    34089      358  0.983781      0
4    21659      536  0.983793      0

In [393]:
dict_test_user_phase_action[0][11]

{'diff_time_seq': [0.004674879315880176,
  0.00362760540606466,
  0.29244177574772046,
  0.6038038795219691,
  5.047103179833812e-05,
  0.37852642928437596,
  0.00034698834361357456,
  0.001974679117999756,
  0.0004416215282354585,
  0.0005362547139675655,
  0.00035960610045293606,
  8.832430342664566e-05],
 'item_seq': [88058,
  66082,
  29755,
  78804,
  43074,
  75757,
  23323,
  22113,
  20317,
  64689,
  28210,
  8052,
  -999],
 'time_seq': [0.9837398543195056,
  0.9837403218074372,
  0.9837406845679778,
  0.9837699287455526,
  0.9838303091335048,
  0.983830314180608,
  0.9838681668235364,
  0.9838682015223708,
  0.9838683989902826,
  0.9838684431524354,
  0.9838684967779068,
  0.9838685327385168,
  0.9838685415709472]}

In [397]:
len(dict_test_user_phase_action[0][11]["item_seq"]),len(dict_test_user_phase_action[0][11]["diff_time_seq"])

(13, 12)

In [396]:
[1,2,3][-1], [1,2,3][:-1]

(3, [1, 2])

In [398]:
([1,2,3] + [0])[:-1]

[1, 2, 3]

In [409]:
[1,2,3,4][:-3], [1,2,3,4][-3]

([1], 2)

In [410]:
def get_train_test_data(
            dict_train_user_phase_action
            ,dict_test_user_phase_action
            ,list_sep_last_num
            ):
    list_seq_last_num, list_flag, list_phase, list_user_id, list_item_seq, list_diff_time, list_item_seq_next = [], [], [], [], [], [], []
    list_data = [(1, dict_train_user_phase_action), (0, dict_test_user_phase_action)]
    for sep_last_num in list_sep_last_num:
        for (flag, dict_user_phase_action) in list_data:
            for phase in dict_user_phase_action.keys():
                for user_id in dict_user_phase_action[phase].keys():
                    if sep_last_num < len(dict_user_phase_action[phase][user_id]["item_seq"]):
                        list_seq_last_num.append(sep_last_num)
                        list_flag.append(flag)
                        list_phase.append(phase)
                        list_user_id.append(user_id)
                        list_item_seq.append(dict_user_phase_action[phase][user_id]["item_seq"][:-sep_last_num])
                        list_diff_time.append((dict_user_phase_action[phase][user_id]["diff_time_seq"]+[0])[:-sep_last_num])
                        list_item_seq_next.append(dict_user_phase_action[phase][user_id]["item_seq"][-sep_last_num])
    underexpose_train_test_data = pd.DataFrame()
    underexpose_train_test_data["seq_last_num"] = list_seq_last_num
    underexpose_train_test_data["flag"] = list_flag
    underexpose_train_test_data["phase"] = list_phase
    underexpose_train_test_data["user_id"] = list_user_id
    underexpose_train_test_data["item_seq"] = list_item_seq
    underexpose_train_test_data["diff_time"] = list_diff_time
    underexpose_train_test_data["item_seq_next"] = list_item_seq_next
    underexpose_train_test_data["pred_if"] = underexpose_train_test_data["item_seq_next"].map(lambda x: 1 if x==-999 else 0)
    return underexpose_train_test_data

In [411]:
underexpose_train_test_data = get_train_test_data(
                            dict_train_user_phase_action
                            ,dict_test_user_phase_action 
                            ,list_sep_last_num=[1,2,3]
                            )

In [412]:
underexpose_train_test_data.head()

,seq_last_num,flag,phase,user_id,item_seq,diff_time,item_seq_next,pred_if
0,1,1,0,1,"[78142, 26646, 89568, 76240, 87533, 78380, 854...","[0.15036582135641297, 0.06781414004120023, 0.0...",69359,0
1,1,1,0,2,"[72912, 7745, 28099, 73084, 111576, 104635, 70...","[0.1862444160538601, 0.000977876239982578, 0.0...",58621,0
2,1,1,0,4,"[8291, 6609, 13283, 35419, 64404]","[0.0025109338297468753, 0.00054887247191715, 0...",90818,0
3,1,1,0,7,"[19110, 24258, 39291, 6731]","[0.011179333534450109, 0.6648549013099636, 0.0...",23436,0
4,1,1,0,9,"[109463, 88371, 78360, 63216, 30767, 102526]","[7.57065488077302e-05, 0.19621244482737055, 0....",114268,0

# 特征工程 + 辅助特征

In [421]:
underexpose_train_test_data_feat = underexpose_train_test_data.copy()

In [422]:
underexpose_train_test_data_feat.head()

,seq_last_num,flag,phase,user_id,item_seq,diff_time,item_seq_next,pred_if
0,1,1,0,1,"[78142, 26646, 89568, 76240, 87533, 78380, 854...","[0.15036582135641297, 0.06781414004120023, 0.0...",69359,0
1,1,1,0,2,"[72912, 7745, 28099, 73084, 111576, 104635, 70...","[0.1862444160538601, 0.000977876239982578, 0.0...",58621,0
2,1,1,0,4,"[8291, 6609, 13283, 35419, 64404]","[0.0025109338297468753, 0.00054887247191715, 0...",90818,0
3,1,1,0,7,"[19110, 24258, 39291, 6731]","[0.011179333534450109, 0.6648549013099636, 0.0...",23436,0
4,1,1,0,9,"[109463, 88371, 78360, 63216, 30767, 102526]","[7.57065488077302e-05, 0.19621244482737055, 0....",114268,0

In [430]:
underexpose_train_test_data_feat["item_seq_num"] = underexpose_train_test_data_feat["item_seq"].map(lambda x:len(x))
underexpose_train_test_data_feat["diff_time_max"] = underexpose_train_test_data_feat["diff_time"].map(lambda x:np.max(x))
underexpose_train_test_data_feat["diff_time_min"] = underexpose_train_test_data_feat["diff_time"].map(lambda x:np.min(x))
underexpose_train_test_data_feat["diff_time_mean"] = underexpose_train_test_data_feat["diff_time"].map(lambda x:np.mean(x))
underexpose_train_test_data_feat["diff_time_std"] = underexpose_train_test_data_feat["diff_time"].map(lambda x:np.std(x))

In [434]:
def diff2_time(diff_time):
    if len(diff_time) < 2:
        return [0]
    else:
        diff2_time = []
        for i in range(len(diff_time)-1):
            diff2_time.append(diff_time[i+1]-diff_time[i])
        return diff2_time

In [439]:
underexpose_train_test_data_feat["diff2_time"] = underexpose_train_test_data_feat["diff_time"].map(lambda x:diff2_time(x))

In [440]:
underexpose_train_test_data_feat["diff2_time_max"] = underexpose_train_test_data_feat["diff2_time"].map(lambda x:np.max(x))
underexpose_train_test_data_feat["diff2_time_min"] = underexpose_train_test_data_feat["diff2_time"].map(lambda x:np.min(x))
underexpose_train_test_data_feat["diff2_time_mean"] = underexpose_train_test_data_feat["diff2_time"].map(lambda x:np.mean(x))
underexpose_train_test_data_feat["diff2_time_std"] = underexpose_train_test_data_feat["diff2_time"].map(lambda x:np.std(x))

In [455]:
def get_item_seq_similarity(item_seq, dict_item_id_embeeding):
    item_seq_similarity = []
    for i in range(len(item_seq)-1):
        item_id_0 = item_seq[i]
        item_id_1 = item_seq[i+1]
        similarity = np.sum(dict_item_id_embeeding[item_id_0] * dict_item_id_embeeding[item_id_1]) / np.sqrt(np.sum(dict_item_id_embeeding[item_id_0]**2) * np.sum(dict_item_id_embeeding[item_id_1]**2))
        item_seq_similarity.append(similarity)
    return item_seq_similarity

In [467]:
underexpose_train_test_data_feat["item_seq_similarity"] = underexpose_train_test_data_feat["item_seq"].map(lambda x:get_item_seq_similarity(x,dict_item_id_embeeding))

In [468]:
def get_user_item_seq_similarity(list_user_id, list_item_seq, dict_user_id_embeeding, dict_item_id_embeeding):
    list_user_id_item_seq_similarity = []
    for (user_id, item_seq) in zip(list_user_id, list_item_seq):
        user_id_item_seq_similarity = []
        for item_id in item_seq:
            similarity = np.sum(dict_user_id_embeeding[user_id] * dict_item_id_embeeding[item_id]) / np.sqrt(np.sum(dict_user_id_embeeding[user_id]**2) * np.sum(dict_item_id_embeeding[item_id]**2))
            user_id_item_seq_similarity.append(similarity)
        list_user_id_item_seq_similarity.append(user_id_item_seq_similarity)
    return list_user_id_item_seq_similarity

In [469]:
underexpose_train_test_data_feat["user_id_item_seq_similarity"] = get_user_item_seq_similarity(
                                                    underexpose_train_test_data_feat["user_id"]
                                                    ,underexpose_train_test_data_feat["item_seq"]
                                                    ,dict_user_id_embeeding
                                                    ,dict_item_id_embeeding)

In [470]:
underexpose_train_test_data_feat.head().head()

,seq_last_num,flag,phase,user_id,item_seq,diff_time,item_seq_next,pred_if,diff2_time,item_seq_num,diff_time_max,diff_time_min,diff_time_mean,diff_time_std,diff2_time_max,diff2_time_min,diff2_time_mean,diff2_time_std,item_seq_similarity,user_id_item_seq_similarity
0,1,1,0,1,"[78142, 26646, 89568, 76240, 87533, 78380, 854...","[0.15036582135641297, 0.06781414004120023, 0.0...",69359,0,"[-0.08255168131521273, 0.0021387099713443547, ...",12,0.859534,0.000208,0.166927,0.244875,0.859326,-0.843100,0.030212,0.391786,"[0.03379265, 0.100336336, -0.064082466, -0.020...","[0.13155395, -4.397514e-05, 0.12356806, 0.0850..."
1,1,1,0,2,"[72912, 7745, 28099, 73084, 111576, 104635, 70...","[0.1862444160538601, 0.000977876239982578, 0.0...",58621,0,"[-0.18526653981387753, 0.00039115049754734343,...",14,0.350711,0.000025,0.084982,0.116619,0.349342,-0.350042,-0.014227,0.186902,"[-0.044206586, 0.02659848, -0.014747822, 0.053...","[0.031668354, -0.120600335, -0.034783345, 0.01..."
2,1,1,0,4,"[8291, 6609, 13283, 35419, 64404]","[0.0025109338297468753, 0.00054887247191715, 0...",90818,0,"[-0.0019620613578297252, 0.002050385662366594,...",5,0.624112,0.000549,0.188667,0.248948,0.621513,-0.310548,0.077763,0.338577,"[0.019239455, 0.06083721, 0.029296305, -0.0330...","[0.0071558245, -0.014475469, -0.083014734, -0...."
3,1,1,0,7,"[19110, 24258, 39291, 6731]","[0.011179333534450109, 0.6648549013099636, 0.0...",23436,0,"[0.6536755677755135, -0.6624890716944165, 0.93...",4,0.935802,0.002366,0.403551,0.408190,0.933436,-0.662489,0.308208,0.695824,"[-0.00035265734, -0.09410994, -0.09496403]","[-0.12894766, 0.0848858, -0.07415101, 0.002755..."
4,1,1,0,9,"[109463, 88371, 78360, 63216, 30767, 102526]","[7.57065488077302e-05, 0.19621244482737055, 0....",114268,0,"[0.19613673827856282, -0.04276789053569985, -0...",6,0.815864,0.000076,0.232759,0.275441,0.814224,-0.586549,0.045848,0.460398,"[0.09778331, 0.057142626, 0.023092844, -0.1163...","[-0.028044349, 0.112252995, 0.011407702, 0.060..."

In [471]:
underexpose_train_test_data_feat.columns

Index(['seq_last_num', 'flag', 'phase', 'user_id', 'item_seq', 'diff_time',
       'item_seq_next', 'pred_if', 'diff2_time', 'item_seq_num',
       'diff_time_max', 'diff_time_min', 'diff_time_mean', 'diff_time_std',
       'diff2_time_max', 'diff2_time_min', 'diff2_time_mean', 'diff2_time_std',
       'item_seq_similarity', 'user_id_item_seq_similarity'],
      dtype='object')

# 模型

In [ ]:
def get_train_data(dict_user_action, sep_last_num):
    # user_id-sep_last_num, item_seq, diff_time_seq, item_seq_next
    # sep_last_num = -1, -2, -3
    list_index, list_user_id, list_item_seq, list_diff_time_seq, list_item_seq_next = [], [], [], [], []
    for user_id in dict_user_action.keys():
        if sep_last_num < len(dict_user_action[user_id]["item_seq"]):
            list_index.append(str(user_id) + "_" + str(sep_last_num))
            list_user_id.append(user_id)
            list_item_seq.append(dict_user_action[user_id]["item_seq"][:-sep_last_num])
            if 1-sep_last_num == 0:
                list_diff_time_seq.append(dict_user_action[user_id]["diff_time_seq"][:])
            else:
                list_diff_time_seq.append(dict_user_action[user_id]["diff_time_seq"][:1-sep_last_num])
            list_item_seq_next.append(dict_user_action[user_id]["item_seq"][-sep_last_num])
    df_train_data = pd.DataFrame()
    df_train_data["index"], df_train_data["user_id"], df_train_data["item_seq"], df_train_data["diff_time_seq"], df_train_data["item_seq_next"] = list_index, list_user_id, list_item_seq, list_diff_time_seq, list_item_seq_next
    return df_train_data

In [ ]:
def get_pred_data(dict_user_action_test_click, test_qtime):
    # user_id-0, item_seq_diff_time_seq, pred_item_seq_next
    list_user_id, list_query_time, list_item_seq, list_diff_time_seq = [], [], [], []
    for i,row in test_qtime.iterrows(): 
        user_id, query_time = int(row["user_id"]), float(row["query_time"])
        list_user_id.append(user_id)
        list_query_time.append(query_time)
        list_item_seq.append(dict_user_action_test_click[user_id]["item_seq"])
        list_diff_time_seq.append(dict_user_action_test_click[user_id]["diff_time_seq"] + [(query_time-dict_user_action_test_click[user_id]["time_seq"][-1]) * 10**4])
    df_test_data = pd.DataFrame()
    df_test_data["user_id"], df_test_data["query_time"], df_test_data["item_seq"], df_test_data["diff_time_seq"] = list_user_id, list_query_time, list_item_seq, list_diff_time_seq
    return df_test_data

In [195]:
underexpose_test_click.sort_values(['user_id']).head()

       user_id  item_id      time  phase
7848         1    69359  0.983942      1
21171        1    63733  0.983848      1
11233        1    18522  0.983887      1
10475        1    17770  0.983886      1
0            1     -999  0.983942      1

In [196]:
underexpose_train_click.sort_values(['user_id']).head()

        user_id  item_id      time  phase
15962         1    14722  0.984038      2
13187         1    89568  0.984048      2
92822         1    69359  0.983942      3
84964         1    69359  0.983942      0
115161        1    68164  0.984061      2

In [192]:
set(underexpose_train_click.user_id)-set(underexpose_user_feat.user_id)

{1,
 2,
 3,
 4,
 32769,
 6,
 7,
 8,
 9,
 32770,
 11,
 12,
 32776,
 14,
 15,
 32779,
 32783,
 32785,
 19,
 32786,
 32787,
 22,
 32788,
 32790,
 25,
 32792,
 27,
 32794,
 29,
 30,
 32795,
 32,
 32796,
 34,
 32798,
 36,
 32802,
 32803,
 39,
 32804,
 41,
 32808,
 43,
 44,
 32811,
 46,
 47,
 32812,
 32813,
 50,
 32817,
 52,
 53,
 54,
 55,
 32818,
 57,
 32820,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 32826,
 68,
 32828,
 70,
 32830,
 32833,
 73,
 32834,
 32836,
 32839,
 77,
 32840,
 81,
 32849,
 83,
 84,
 85,
 32851,
 32852,
 88,
 89,
 90,
 91,
 92,
 32853,
 94,
 95,
 96,
 32858,
 32859,
 32860,
 100,
 101,
 102,
 32862,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 32871,
 32873,
 32874,
 32876,
 32880,
 32881,
 32886,
 32887,
 120,
 121,
 122,
 32888,
 124,
 125,
 32889,
 32891,
 32894,
 32895,
 130,
 131,
 32898,
 32899,
 134,
 32900,
 136,
 137,
 32903,
 139,
 140,
 32906,
 142,
 143,
 144,
 145,
 32907,
 147,
 32908,
 149,
 32909,
 32911,
 32915,
 32917,
 154,
 32918,
 32919,
 157,
 32921,
 159,
 160,
 161,
 162,
 32922,
 164,
 32925,
 32928,
 32930,
 168,
 169,
 32932,
 32933,
 32934,
 173,
 32935,
 175,
 176,
 32936,
 178,
 179,
 32939,
 181,
 32942,
 183,
 32943,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 32954,
 32958,
 32961,
 197,
 32962,
 32963,
 200,
 201,
 202,
 32964,
 204,
 32965,
 206,
 207,
 208,
 32970,
 210,
 211,
 32972,
 213,
 214,
 215,
 32976,
 217,
 32977,
 219,
 220,
 221,
 32982,
 32983,
 224,
 32984,
 32985,
 32989,
 32990,
 229,
 230,
 231,
 232,
 233,
 32994,
 32995,
 32996,
 237,
 238,
 33001,
 33005,
 241,
 33007,
 243,
 244,
 245,
 246,
 247,
 33008,
 33009,
 33011,
 33012,
 252,
 253,
 254,
 33014,
 256,
 257,
 258,
 33018,
 33019,
 33020,
 262,
 263,
 33023,
 33024,
 33026,
 267,
 268,
 269,
 270,
 271,
 33031,
 273,
 274,
 33035,
 33036,
 277,
 33037,
 279,
 33040,
 281,
 33041,
 283,
 33046,
 33048,
 33049,
 33051,
 33054,
 289,
 290,
 291,
 33055,
 293,
 294,
 295,
 296,
 297,
 33057,
 299,
 300,
 301,
 302,
 33063,
 304,
 305,
 306,
 307,
 33067,
 33068,
 310,
 33071,
 312,
 313,
 314,
 315,
 33076,
 33078,
 318,
 319,
 320,
 33081,
 322,
 323,
 33083,
 325,
 326,
 327,
 33087,
 329,
 33090,
 331,
 332,
 333,
 33094,
 335,
 336,
 33096,
 33097,
 33100,
 340,
 341,
 33101,
 33102,
 344,
 33105,
 346,
 33107,
 33108,
 349,
 350,
 351,
 33113,
 353,
 33116,
 355,
 356,
 33117,
 358,
 359,
 33119,
 33123,
 33126,
 33127,
 364,
 33128,
 366,
 33129,
 368,
 33131,
 33132,
 371,
 372,
 373,
 33135,
 33137,
 33138,
 33140,
 33141,
 379,
 380,
 381,
 33142,
 33143,
 33145,
 385,
 33146,
 33148,
 33149,
 389,
 33150,
 391,
 33151,
 393,
 394,
 395,
 33155,
 397,
 33158,
 33160,
 400,
 401,
 33161,
 33162,
 404,
 405,
 33165,
 33166,
 408,
 409,
 33170,
 33175,
 33179,
 413,
 33180,
 33181,
 33182,
 417,
 33183,
 33184,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 33194,
 428,
 33195,
 33196,
 431,
 432,
 433,
 434,
 435,
 33197,
 33200,
 438,
 439,
 33202,
 33203,
 33204,
 443,
 33206,
 445,
 446,
 447,
 448,
 33208,
 450,
 451,
 452,
 33212,
 454,
 33214,
 33215,
 457,
 33217,
 459,
 460,
 461,
 462,
 33224,
 464,
 465,
 466,
 33227,
 468,
 33228,
 470,
 471,
 472,
 33232,
 474,
 475,
 476,
 33238,
 33240,
 33244,
 480,
 33246,
 482,
 483,
 484,
 485,
 33247,
 487,
 33251,
 489,
 490,
 491,
 492,
 33252,
 494,
 33254,
 496,
 497,
 33257,
 499,
 33261,
 33262,
 33263,
 503,
 504,
 505,
 33265,
 507,
 508,
 33268,
 33270,
 511,
 33273,
 513,
 33275,
 515,
 33276,
 33277,
 33278,
 519,
 520,
 521,
 522,
 33282,
 524,
 525,
 33286,
 527,
 33289,
 529,
 530,
 33291,
 532,
 33292,
 33293,
 535,
 536,
 537,
 538,
 539,
 540,
 33300,
 542,
 543,
 33303,
 33304,
 546,
 547,
 548,
 549,
 33312,
 33316,
 33318,
 33321,
 554,
 33323,
 556,
 33325,
 558,
 559,
 560,
 561,
 562,
 563,
 33326,
 565,
 566,
 567,
 568,
 33329,
 570,
 571,
 572,
 33332,
 574,
 33334,
 576,
 577,
 578,
 579,
 33339,
 581,
 33341,
 583,
 33346,
 33347,
 586,
 587,
 33350,
 33354,
 33356,
 591,
 33357,
 593,
 594,
 595,
 33359,
 33360,
 33363,
 33364,
 33365,
 601,
 602,
 603,
 604,
 33366,
 33368,
 607,
 608,
 33369,
 610,
 611,
 33371,
 33372,
 614,
 615,
 616,
 617,
 33377,
 33378,
 620,
 621,
 622,
 33383,
 33384,
 625,
 626,
 627,
 628,
 629,
 630,
 33391,
 632,
 633,
 634,
 635,
 33395,
 637,
 33401,
 639,
 640,
 33406,
 642,
 643,
 33407,
 645,
 33408,
 33409,
 648,
 649,
 33412,
 651,
 33413,
 33417,
 654,
 655,
 656,
 657,
 33418,
 659,
 660,
 33420,
 662,
 33424,
 33425,
 33426,
 666,
 33428,
 668,
 33429,
 33430,
 671,
 672,
 673,
 33433,
 33435,
 676,
 677,
 33438,
 679,
 680,
 681,
 33441,
 33442,
 684,
 33449,
 686,
 687,
 33450,
 689,
 690,
 33452,
 692,
 33457,
 694,
 695,
 696,
 33458,
 698,
 699,
 33461,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 33469,
 710,
 711,
 712,
 33475,
 714,
 715,
 716,
 33476,
 33477,
 719,
 33479,
 721,
 722,
 723,
 33483,
 725,
 33485,
 727,
 728,
 33488,
 730,
 731,
 33492,
 33493,
 33494,
 735,
 736,
 33497,
 33500,
 33501,
 740,
 741,
 33503,
 33505,
 744,
 745,
 746,
 747,
 33507,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 33516,
 757,
 33521,
 759,
 760,
 33522,
 33525,
 763,
 33527,
 765,
 766,
 767,
 768,
 769,
 33529,
 33531,
 772,
 33532,
 33534,
 775,
 776,
 777,
 33538,
 779,
 780,
 33540,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 33548,
 790,
 791,
 792,
 793,
 794,
 795,
 33555,
 797,
 798,
 799,
 33560,
 33561,
 802,
 33562,
 804,
 33566,
 33568,
 807,
 33570,
 33571,
 810,
 811,
 812,
 813,
 33575,
 815,
 33576,
 33578,
 818,
 819,
 820,
 33582,
 33583,
 823,
 33585,
 825,
 33586,
 827,
 828,
 829,
 33589,
 33590,
 832,
 33592,
 834,
 835,
 33596,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 33607,
 849,
 33611,
 851,
 33613,
 853,
 33614,
 33616,
 33617,
 857,
 858,
 33621,
 860,
 861,
 862,
 863,
 864,
 33624,
 866,
 867,
 868,
 869,
 870,
 871,
 33631,
 873,
 33633,
 875,
 876,
 877,
 33637,
 33641,
 33643,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 33648,
 33649,
 33650,
 33652,
 893,
 894,
 33655,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 33665,
 33666,
 33669,
 907,
 33672,
 33673,
 910,
 911,
 912,
 33676,
 914,
 33677,
 33679,
 33681,
 33682,
 33683,
 920,
 921,
 33684,
 923,
 924,
 33685,
 33687,
 33688,
 928,
 929,
 33691,
 33693,
 932,
 933,
 934,
 33694,
 936,
 33696,
 938,
 33698,
 940,
 33701,
 942,
 943,
 944,
 945,
 33705,
 947,
 33707,
 33709,
 33710,
 951,
 33713,
 33714,
 954,
 33715,
 956,
 33717,
 958,
 33720,
 33721,
 33723,
 33724,
 963,
 964,
 965,
 966,
 33726,
 968,
 33735,
 971,
 972,
 973,
 974,
 33741,
 976,
 33742,
 978,
 33745,
 980,
 981,
 33747,
 983,
 984,
 33751,
 986,
 987,
 988,
 33755,
 990,
 33757,
 992,
 33758,
 994,
 33759,
 996,
 997,
 998,
 999,
 33760,
 1001,
 1002,
 1003,
 ...}

In [178]:
node_user_item

        user_id  item_id  index_user_id  index_item_id  score
0             1     4033           2690          27709      2
1             1    13025           2690          11384      2
2             1    13905           2690          69354      1
3             1    14547           2690          42100      1
4             1    14665           2690          54128      1
5             1    14722           2690           6023      2
6             1    17770           2690          48045      1
7             1    17887           2690          19803      2
8             1    18522           2690          31853      3
9             1    26646           2690          34527      1
10            1    28869           2690          55971      2
11            1    31443           2690          34581      3
12            1    47607           2690           2286      1
13            1    47611           2690           2287      2
14            1    63733           2690          42601      1
15            1    68164           2690          57621      2
16            1    69359           2690          34983      4
17            1    72939           2690          48354      1
18            1    76240           2690          14368      1
19            1    77096           2690           3606      1
20            1    78142           2690          14456      1
21            1    78380           2690          21451      1
22            1    79684           2690          52588      1
23            1    81337           2690          57071      1
24            1    85482           2690          54709      2
25            1    85492           2690          38266      3
26            1    87533           2690          35174      1
27            1    88234           2690          61503      2
28            1    89568           2690          14941      2
29            1    97795           2690          15297      1
...         ...      ...            ...            ...    ...
574431    35422    72136          23729          21288      2
574432    35422    81810          23729          57076      1
574433    35422    87494          23729          59283      1
574434    35422    93558          23729          62758      1
574435    35422    93899          23729          68361      1
574436    35424     4724          20162          49015      3
574437    35424    26688          20162          41050      1
574438    35424    28462          20162           6674      3
574439    35424    54561          20162          47664      3
574440    35430    12941          25195          68516      1
574441    35430    34145          25195          45351      1
574442    35430    49795          25195          63441      1
574443    35430   110210          25195          65033      1
574444    35434    16324          26004          22903      1
574445    35434    42049          26004          52252      1
574446    35434    70452          26004           3317      1
574447    35434    77071          26004           8914      1
574448    35434    79835          26004          60774      1
574449    35434    90334          26004          14967      1
574450    35434    93437          26004          27293      1
574451    35434   101552          26004          70001      1
574452    35435     3133          24252          51641      1
574453    35435    23215          24252          64254      1
574454    35435    25792          24252          20022      1
574455    35435    40849          24252          61560      1
574456    35435    65907          24252          21110      1
574457    35435    69405          24252          71847      1
574458    35435    74285          24252          70208      1
574459    35435    80251          24252          68295      1
574460    35435    88855          24252          24922      1

[574461 rows x 5 columns]

In [183]:
# underexpose_user_feat.user_id.max()

In [ ]:
pd.DataFrame

In [163]:
underexpose_train_click.head()

   user_id  item_id      time  phase
0     4965       18  0.983763      0
1    20192       34  0.983772      0
2    30128       91  0.983780      0
3    29473      189  0.983930      0
4    10625      225  0.983925      0

In [164]:
underexpose_test_click.head()

   user_id  item_id      time  phase
0     1133      221  0.983812      0
1    17864      253  0.983783      0
2     6941      309  0.983785      0
3    34089      358  0.983781      0
4    21659      536  0.983793      0

# 建模

构建训练数据

In [252]:
def get_train_data(dict_user_action, sep_last_num):
    # user_id-sep_last_num, item_seq, diff_time_seq, item_seq_next
    # sep_last_num = -1, -2, -3
    list_index, list_user_id, list_item_seq, list_diff_time_seq, list_item_seq_next = [], [], [], [], []
    for user_id in dict_user_action.keys():
        if sep_last_num < len(dict_user_action[user_id]["item_seq"]):
            list_index.append(str(user_id) + "_" + str(sep_last_num))
            list_user_id.append(user_id)
            list_item_seq.append(dict_user_action[user_id]["item_seq"][:-sep_last_num])
            if 1-sep_last_num == 0:
                list_diff_time_seq.append(dict_user_action[user_id]["diff_time_seq"][:])
            else:
                list_diff_time_seq.append(dict_user_action[user_id]["diff_time_seq"][:1-sep_last_num])
            list_item_seq_next.append(dict_user_action[user_id]["item_seq"][-sep_last_num])
    df_train_data = pd.DataFrame()
    df_train_data["index"], df_train_data["user_id"], df_train_data["item_seq"], df_train_data["diff_time_seq"], df_train_data["item_seq_next"] = list_index, list_user_id, list_item_seq, list_diff_time_seq, list_item_seq_next
    return df_train_data

In [253]:
df_train_data = get_train_data(dict_user_action_train_click_0, 1)

In [257]:
df_train_data.head()

,index,user_id,item_seq,diff_time_seq,item_seq_next
0,1_1,1,"[78142, 26646, 89568, 76240, 87533, 78380, 854...","[0.15036582135641297, 0.06781414004120023, 0.0...",69359
1,2_1,2,"[72912, 7745, 28099, 73084, 111576, 104635, 70...","[0.1862444160538601, 0.000977876239982578, 0.0...",58621
2,4_1,4,"[8291, 6609, 13283, 35419, 64404]","[0.0025109338297468753, 0.00054887247191715, 0...",90818
3,7_1,7,"[19110, 24258, 39291, 6731]","[0.011179333534450109, 0.6648549013099636, 0.0...",23436
4,9_1,9,"[109463, 88371, 78360, 63216, 30767, 102526]","[7.57065488077302e-05, 0.19621244482737055, 0....",114268

In [255]:
len(df_train_data.values[0][2])

12

In [256]:
len(df_train_data.values[0][3])

12

In [243]:
def get_pred_data(dict_user_action_test_click, test_qtime):
    # user_id-0, item_seq_diff_time_seq, pred_item_seq_next
    list_user_id, list_query_time, list_item_seq, list_diff_time_seq = [], [], [], []
    for i,row in test_qtime.iterrows(): 
        user_id, query_time = int(row["user_id"]), float(row["query_time"])
        list_user_id.append(user_id)
        list_query_time.append(query_time)
        list_item_seq.append(dict_user_action_test_click[user_id]["item_seq"])
        list_diff_time_seq.append(dict_user_action_test_click[user_id]["diff_time_seq"] + [(query_time-dict_user_action_test_click[user_id]["time_seq"][-1]) * 10**4])
    df_test_data = pd.DataFrame()
    df_test_data["user_id"], df_test_data["query_time"], df_test_data["item_seq"], df_test_data["diff_time_seq"] = list_user_id, list_query_time, list_item_seq, list_diff_time_seq
    return df_test_data

In [244]:
df_test_data = get_pred_data(dict_user_action_test_click_0, underexpose_test_qtime_0)

## 解题思路一

## 解题思路二

## 解题思路三