In [33]:
from tqdm import tqdm
import pandas as pd
pd.set_option("display.precision",16 )
train_path='../data/underexpose_train/'
test_path='../data/underexpose_test/'
now_p=6

col_name=['item_id']
for i in range(0,128):
    col_name.append('tv'+str(i))
for i in range(0,128):
    col_name.append('iv'+str(i))



itemft=pd.read_csv(train_path+'underexpose_item_feat.csv',low_memory=False,names=col_name)
itemft=itemft.replace('[\[\]]','',regex=True)#regex=True is the key
#underexpose_item_feat.apply(lambda x: x.str.replace('[\[\]]',''),axis=1)
userft=pd.read_csv(train_path+'underexpose_user_feat.csv',low_memory=False,names=['user_id','age','gender','city'],dtype=\
                  {'user_id': np.int32,'age':'category','gender':'category','city':'category'})

In [81]:
for p in tqdm(range(0,now_p+1)):


    tnc=pd.read_csv(train_path+r'underexpose_train_click-{}.csv'.format(p),low_memory=False,names=['user_id','item_id','time'])
    ttc=pd.read_csv(test_path+r'underexpose_test_click-{}/underexpose_test_click-{}.csv'.format(p,p),low_memory=False\
                   ,names=['user_id','item_id','time'])

    # ttt=pd.read_csv(test_path+'utc_click-{}.csv'.format(p),low_memory=False)
    # ttt.drop(ttt.columns[0],axis=1,inplace=True) # !!
    a=userft.user_id.value_counts()
    dup_user_id=a[a>1].index.to_list()
    dup_index=userft.loc[userft.user_id.isin(dup_user_id),:].index.to_list()
    dup_index=[i for i in dup_index if i%2 == 0]
    userft.drop(dup_index,inplace=True)
    temp=tnc.merge(itemft,how='left')
    assert tnc.shape[0]==temp.shape[0]

    all_tn=temp.merge(userft,left_on=['user_id'],right_on=['user_id'],how='left')
    assert temp.shape[0] == all_tn.shape[0]
    all_tn.to_csv(train_path+'train_{}.csv'.format(p),index=False)

100%|██████████| 7/7 [24:43<00:00, 211.94s/it]

## get matrix

In [2]:
from tqdm import tqdm
import pandas as pd
train_path='../data/underexpose_train/'
test_path='../data/underexpose_test/'
now_p=6
df=pd.read_csv(train_path+'train_{}.csv'.format(now_p),low_memory=False)

KeyboardInterrupt:

In [4]:
item_user_matrix=df.pivot_table(index='item_id',columns='user_id',aggfunc='size',fill_value=0)

In [5]:
item_user_matrix.shape

(48662, 18575)

In [11]:
item_user_matrix_min=item_user_matrix.dropna()

In [9]:
item_user_matrix.to_hdf(train_path+'item_user_matrix.h5',key='result',index=False)

HDF5ExtError: Problems creating the Array.

In [14]:
df.shape

(310372, 262)

In [15]:
df.dropna().shape

(71688, 262)

## get non-null database

In [16]:
df_min=df.dropna()

In [17]:
df_min.to_csv(train_path+'train_min_{}'.format(now_p),index=False)

In [8]:
df_min=pd.read_csv(train_path+'train_min_{}'.format(now_p))

In [9]:
df_min.head(3)

,user_id,item_id,time,tv0,tv1,tv2,tv3,tv4,tv5,tv6,...,iv121,iv122,iv123,iv124,iv125,iv126,iv127,age,gender,city
0,18349,35,0.984111,4.148138,-0.213997,-0.274804,0.394361,-2.207227,-1.437607,2.098062,...,-2.937082,-0.981116,0.425762,1.491055,3.889630,1.439132,-0.080906,4.0,F,4.0
1,4489,35,0.984263,4.148138,-0.213997,-0.274804,0.394361,-2.207227,-1.437607,2.098062,...,-2.937082,-0.981116,0.425762,1.491055,3.889630,1.439132,-0.080906,4.0,F,2.0
2,16846,66,0.984069,5.053555,1.216570,0.348558,0.380879,5.722718,-0.903466,-2.930219,...,-1.356675,-1.060216,0.303131,1.582733,1.423042,2.876045,-0.571884,3.0,F,5.0

In [91]:
database=df_min.copy().drop(['user_id','item_id'],axis=1)
database=database.replace({'M':1,'F':0})
database=database.astype({'age': 'int','gender':'int','city':'int'})
database.head(3)

,time,tv0,tv1,tv2,tv3,tv4,tv5,tv6,tv7,tv8,...,iv121,iv122,iv123,iv124,iv125,iv126,iv127,age,gender,city
0,0.9841110719125040,4.1481380462646484,-0.2139974832534789,-0.2748044133186340,0.3943611383438110,-2.2072267532348642,-1.4376068115234375,2.0980615615844727,-0.6124892234802246,-4.8264927864074716,...,-2.9370822906494136,-0.9811164140701294,0.4257615506649017,1.4910547733306885,3.8896303176879878,1.4391320943832395,-0.0809062123298645,4,0,4
1,0.9842627512424618,4.1481380462646484,-0.2139974832534789,-0.2748044133186340,0.3943611383438110,-2.2072267532348642,-1.4376068115234375,2.0980615615844727,-0.6124892234802246,-4.8264927864074716,...,-2.9370822906494136,-0.9811164140701294,0.4257615506649017,1.4910547733306885,3.8896303176879878,1.4391320943832395,-0.0809062123298645,4,0,2
2,0.9840694762116832,5.0535550117492685,1.2165696620941162,0.3485578894615173,0.3808794021606445,5.7227177619934073,-0.9034663438796996,-2.9302191734313965,-2.0493977069854736,-7.3847928047180176,...,-1.3566752672195437,-1.0602157115936279,0.3031310141086578,1.5827329158782959,1.4230424165725708,2.8760449886322017,-0.5718842148780823,3,0,5

## true value

In [47]:
temp=pd.read_csv(test_path + '/underexpose_test_click-{}/underexpose_test_click-{}.csv'.format(c,c), header=None,  names=['user_id', 'item_id', 'time'])
validate=temp.sort_values(['user_id','time'],ascending=[True,False]).groupby(['user_id']).agg('max').reset_index()
validate

      user_id  item_id                time
0          17   102533  0.9842771241305298
1          28   116890  0.9842517769474944
2          39   103166  0.9842692676835492
3          61    71372  0.9842643606374868
4         116    93674  0.9842105925855824
...       ...      ...                 ...
1816    35393   100834  0.9841720459659672
1817    35404    95483  0.9842073296333794
1818    35415    99289  0.9842285375609228
1819    35426    75376  0.9842657649939456
1820    35437   114977  0.9842618478109934

[1821 rows x 3 columns]

In [54]:
true_item=validate.item_id.values

## query records

In [108]:
temp=temp.sort_values(by=['user_id','time'],ascending=[True,False]).groupby(['user_id']).apply(\
                                                        lambda x : x.nlargest(2,'time').min()).drop(['user_id'],axis=1).reset_index()
temp.head(3) # GET the second last click

query=temp.merge(itemft).merge(userft).drop(['user_id','item_id'],axis=1)
query=query.replace({'M':1,'F':0})
query=query.astype({'age': 'int','gender':'int','city':'int'},errors='ignore')
query.head(3)

   user_id  item_id                time
0       17  55640.0  0.9842770970023504
1       28  11341.0  0.9842497707239822
2       39   6000.0  0.9842690304696999

,time,tv0,tv1,tv2,tv3,tv4,tv5,tv6,tv7,tv8,...,iv121,iv122,iv123,iv124,iv125,iv126,iv127,age,gender,city
0,0.9842770970023504,0.5360820889472961,0.8096240162849426,2.7014837265014648,-2.7991456985473637,-0.6606873273849487,0.6530611515045166,1.9763848781585691,-3.6176140308380127,-4.2653374671936044,...,-1.6108086109161377,2.8420321941375728,-1.9871942996978760,-0.4233869612216949,2.4177765846252441,1.8847615718841555,-0.14728772640228271,8,1.0,4
1,0.9841662815432528,2.930999279022217,0.7546284198760986,1.1361875534057615,-2.8420829772949219,-2.1572284698486333,1.1403292417526243,-1.7426383495330811,-1.8360253572463991,-4.0828256607055664,...,-0.8000670671463013,-2.1805658340454097,1.7471723556518557,1.2186948060989380,0.7591019272804259,0.8756471276283264,-1.0253912210464478,6,1.0,1
2,0.9842728183206332,-0.8057873249053955,1.0597294569015503,1.5982242822647097,2.6122808456420898,1.8933284282684328,1.1449376344680786,0.9803119897842408,0.1032380312681198,-5.3080978393554688,...,-1.8842458724975584,2.4936621189117432,4.7349085807800284,2.2831583023071289,1.6526179313659668,0.4389202296733856,0.48632559180259705,7,1.0,1

In [109]:
query.info()
query.select_dtypes(['category'])
query['age'].dtype =='category'

<class 'pandas.core.frame.DataFrame'>
Int64Index: 357 entries, 0 to 356
Columns: 260 entries, time to city
dtypes: category(1), float64(254), int64(1), object(4)
memory usage: 725.9+ KB

     age
0      8
1      6
2      7
3      5
4      7
..   ...
352  NaN
353    6
354    1
355    8
356  NaN

[357 rows x 1 columns]

True

In [110]:
for col in query.isna().any().loc[query.isna().any() == True].index:
    col
    a=database.median()[col]
    query[col].value_counts(dropna=False)
    query[col]=query[col].replace(np.nan,a)
query.shape == query.dropna().shape

'age'

4      89
5      70
6      48
2      40
7      39
3      39
1      16
8      12
NaN     4
Name: age, dtype: int64

'gender'

0.0    288
1.0     65
NaN      4
Name: gender, dtype: int64

True

In [122]:
query.head()
database.head()

,time,tv0,tv1,tv2,tv3,tv4,tv5,tv6,tv7,tv8,...,iv121,iv122,iv123,iv124,iv125,iv126,iv127,age,gender,city
0,0.9842770970023504,0.5360820889472961,0.8096240162849426,2.7014837265014648,-2.7991456985473637,-0.6606873273849487,0.6530611515045166,1.9763848781585691,-3.6176140308380127,-4.2653374671936044,...,-1.6108086109161377,2.8420321941375728,-1.9871942996978760,-0.4233869612216949,2.4177765846252441,1.8847615718841555,-0.14728772640228271,8,1.0,4
1,0.9841662815432528,2.930999279022217,0.7546284198760986,1.1361875534057615,-2.8420829772949219,-2.1572284698486333,1.1403292417526243,-1.7426383495330811,-1.8360253572463991,-4.0828256607055664,...,-0.8000670671463013,-2.1805658340454097,1.7471723556518557,1.2186948060989380,0.7591019272804259,0.8756471276283264,-1.0253912210464478,6,1.0,1
2,0.9842728183206332,-0.8057873249053955,1.0597294569015503,1.5982242822647097,2.6122808456420898,1.8933284282684328,1.1449376344680786,0.9803119897842408,0.1032380312681198,-5.3080978393554688,...,-1.8842458724975584,2.4936621189117432,4.7349085807800284,2.2831583023071289,1.6526179313659668,0.4389202296733856,0.48632559180259705,7,1.0,1
3,0.9842780212531193,6.918740749359131,-1.5623095035552981,0.1936842501163483,-2.6881470680236816,0.5489784479141235,-4.0727796554565430,-4.6369094848632812,0.1040251851081848,-6.1909346580505371,...,-1.3059409856796265,-3.4288074970245361,1.0545351505279541,2.1901721954345703,0.0825757980346680,0.8740526437759399,-3.1559345722198486,5,0.0,3
4,0.9842679503896204,-1.0727543830871582,-1.8076705932617188,-0.3369975090026855,0.7511942386627197,1.6725795269012451,-2.9531531333923340,-3.8178758621215820,1.7572224140167236,-3.9595847129821777,...,0.0764104127883911,-1.4805314540863037,0.1988799273967743,2.5155832767486568,0.0409690998494625,4.5391697883605966,-1.115072250366211,7,1.0,5

,time,tv0,tv1,tv2,tv3,tv4,tv5,tv6,tv7,tv8,...,iv121,iv122,iv123,iv124,iv125,iv126,iv127,age,gender,city
0,0.9841110719125040,4.1481380462646484,-0.2139974832534789,-0.2748044133186340,0.3943611383438110,-2.2072267532348642,-1.4376068115234375,2.0980615615844727,-0.6124892234802246,-4.8264927864074716,...,-2.9370822906494136,-0.9811164140701294,0.4257615506649017,1.4910547733306885,3.8896303176879878,1.4391320943832395,-0.0809062123298645,4,0,4
1,0.9842627512424618,4.1481380462646484,-0.2139974832534789,-0.2748044133186340,0.3943611383438110,-2.2072267532348642,-1.4376068115234375,2.0980615615844727,-0.6124892234802246,-4.8264927864074716,...,-2.9370822906494136,-0.9811164140701294,0.4257615506649017,1.4910547733306885,3.8896303176879878,1.4391320943832395,-0.0809062123298645,4,0,2
2,0.9840694762116832,5.0535550117492685,1.2165696620941162,0.3485578894615173,0.3808794021606445,5.7227177619934073,-0.9034663438796996,-2.9302191734313965,-2.0493977069854736,-7.3847928047180176,...,-1.3566752672195437,-1.0602157115936279,0.3031310141086578,1.5827329158782959,1.4230424165725708,2.8760449886322017,-0.5718842148780823,3,0,5
3,0.9842570189950302,2.9716651439666748,-0.5788695812225342,2.2469174861907959,-1.7302743196487431,-2.3264360427856445,-0.5912094712257385,-2.3438596725463867,0.4770196080207825,-3.7080161571502690,...,0.9559630155563354,-0.0576305389404297,-2.8185224533081050,-3.0371842384338379,0.8351709246635437,1.1768972873687744,0.4194931983947754,2,0,5
4,0.9840924399002436,0.4042505621910095,-1.0307354927062988,-0.3946554064750672,-1.1291629076004028,1.5390796661376951,0.4129871129989624,-0.1573128253221512,0.0748407095670700,-3.0261974334716801,...,-1.2563368082046509,-1.1090230941772459,1.2311370372772217,1.1668357849121094,3.2568092346191406,2.9602167606353764,-1.0459980964660645,4,0,6

In [115]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
query1=ss.fit_transform(query)
databse1=ss.fit_transform(database)

## find similarity

In [125]:
import faiss

In [127]:
dim=260
k=10 # recall 10
quantizer = faiss.IndexFlatL2(dim)
faiss.IndexIVFPQ(quantizer,dim,10,k)

NotImplementedError: Wrong number or type of arguments for overloaded function 'new_IndexIVFPQ'.
  Possible C/C++ prototypes are:
    faiss::IndexIVFPQ::IndexIVFPQ(faiss::Index *,size_t,size_t,size_t,size_t)
    faiss::IndexIVFPQ::IndexIVFPQ()